#Uvodni primjeri za upoznavanje sa novim funkcionalnostima i bibliotekama

## Pandas

In [20]:
import pandas as pd # ucitaj Pandas
import numpy as np # ucitaj NumPy
data = pd.read_csv('dataset.csv') # ucitaj podatke
data

,id,Indeks,Prisustvo,Ispit1,Ispit2,Ispit1_popravni,Ispit2_popravni,UKUPNO,Ocjena
0,1,94-ST,10,9.4,7.5,12.08,13.73,35.81,7
1,2,77-ST,10,8.5,/,/,/,35.50,7
2,3,69-ST,10,17,/,/,/,39.50,9
3,4,79-ST,0,7.6,4.8,/,/,12.40,/
4,5,89-ST,10,10.6,12.5,12.58,/,35.08,6
5,6,78-ST,0,/,/,13.08,12.83,25.91,6
6,7,93-ST,10,/,12.5,12.67,/,35.17,8
7,8,68-ST,10,/,/,/,/,50.00,9
8,9,83-ST,0,/,/,/,/,0.00,/
9,10,92-ST,10,/,/,/,/,42.06,9
10,11,65-ST,10,/,/,/,/,43.19,8
11,12,70-ST,10,13,7.8,/,16.3,39.30,7
12,13,90-ST,10,15.6,7.7,/,14.3,39.90,8
13,14,97-ST,10,/,/,/,/,41.05,9
14,15,84-ST,10,/,/,/,/,43.56,9
15,16,98-ST,10,12.5,7.8,/,9.53,38.50,/
16,17,91-ST,10,/,/,/,/,43.48,9
17,18,87-ST,10,/,/,/,/,35.89,7
18,19,76-ST,10,/,/,/,/,27.18,/
19,20,96-ST,10,/,/,/,/,41.40,8
20,21,66-ST,10,14,9.7,/,16,40.00,8
21,22,62-ST,10,12.5,/,/,/,42.00,8
22,23,74-ST,0,10.7,/,14.58,11.7,27.08,/
23,24,86-ST,10,13.6,12.5,/,/,36.10,6
24,25,73-ST,10,12.5,6.5,/,19.07,41.57,7
25,26,80-ST,10,/,/,/,/,39.45,8
26,27,63-ST,10,16.6,8.7,/,20,46.60,8
27,28,72-ST,10,/,/,/,/,18.41,/
28,29,95-ST,0,10.8,12.5,7.25,/,23.50,/
29,30,85-ST,10,/,12.5,/,/,35.25,7
30,31,99-ST,10,/,/,14.17,/,24.17,/
31,32,41-ST,0,/,/,/,/,5.87,/
32,33,17-ST,0,7.5,1.7,2.33,/,9.20,/
33,34,82-ST,0,10,1.5,/,/,16.00,/
34,35,15-ST,0,/,/,/,/,0.00,/
35,36,64-ST,10,13.3,15,/,/,38.30,8
36,37,44-ST,10,/,/,8,14.33,32.33,/
37,38,71-ST,10,/,/,/,/,42.16,8
38,39,54-ST,10,/,/,/,/,19.35,/
39,40,60-ST,10,10,/,/,/,38.50,6
40,41,48-ST,10,/,/,/,/,10.00,6
41,42,61-ST,10,/,/,/,/,23.12,/
42,43,1-ST,10,/,/,/,/,10.00,/
43,44,88-ST,10,/,/,/,/,37.00,7
44,45,75-ST,10,/,/,9.83,13.5,33.33,6
45,46,67-ST,10,16.5,/,/,/,39.50,7
46,47,81-ST,10,15.7,17.3,/,/,43.00,8

In [21]:
data.head() #uzimamo prvih 5 elemenata po defaultu

,id,Indeks,Prisustvo,Ispit1,Ispit2,Ispit1_popravni,Ispit2_popravni,UKUPNO,Ocjena
0,1,94-ST,10,9.4,7.5,12.08,13.73,35.81,7
1,2,77-ST,10,8.5,/,/,/,35.50,7
2,3,69-ST,10,17,/,/,/,39.50,9
3,4,79-ST,0,7.6,4.8,/,/,12.40,/
4,5,89-ST,10,10.6,12.5,12.58,/,35.08,6

In [22]:
data.tail(2) #uzimamo zadnja dva reda

,id,Indeks,Prisustvo,Ispit1,Ispit2,Ispit1_popravni,Ispit2_popravni,UKUPNO,Ocjena
45,46,67-ST,10,16.5,/,/,/,39.5,7
46,47,81-ST,10,15.7,17.3,/,/,43.0,8

In [23]:
data_transponovano = data.T
data_transponovano #transponovanje podataka

,0,1,2,3,4,5,6,7,8,9,...,37,38,39,40,41,42,43,44,45,46
id,1,2,3,4,5,6,7,8,9,10,...,38,39,40,41,42,43,44,45,46,47
Indeks,94-ST,77-ST,69-ST,79-ST,89-ST,78-ST,93-ST,68-ST,83-ST,92-ST,...,71-ST,54-ST,60-ST,48-ST,61-ST,1-ST,88-ST,75-ST,67-ST,81-ST
Prisustvo,10,10,10,0,10,0,10,10,0,10,...,10,10,10,10,10,10,10,10,10,10
Ispit1,9.4,8.5,17,7.6,10.6,/,/,/,/,/,...,/,/,10,/,/,/,/,/,16.5,15.7
Ispit2,7.5,/,/,4.8,12.5,/,12.5,/,/,/,...,/,/,/,/,/,/,/,/,/,17.3
Ispit1_popravni,12.08,/,/,/,12.58,13.08,12.67,/,/,/,...,/,/,/,/,/,/,/,9.83,/,/
Ispit2_popravni,13.73,/,/,/,/,12.83,/,/,/,/,...,/,/,/,/,/,/,/,13.5,/,/
UKUPNO,35.81,35.5,39.5,12.4,35.08,25.91,35.17,50.0,0.0,42.06,...,42.16,19.35,38.5,10.0,23.12,10.0,37.0,33.33,39.5,43.0
Ocjena,7,7,9,/,6,6,8,9,/,9,...,8,/,6,6,/,/,7,6,7,8

In [24]:
data["Indeks"] #odabir jedne kolone

0     94-ST
1     77-ST
2     69-ST
3     79-ST
4     89-ST
5     78-ST
6     93-ST
7     68-ST
8     83-ST
9     92-ST
10    65-ST
11    70-ST
12    90-ST
13    97-ST
14    84-ST
15    98-ST
16    91-ST
17    87-ST
18    76-ST
19    96-ST
20    66-ST
21    62-ST
22    74-ST
23    86-ST
24    73-ST
25    80-ST
26    63-ST
27    72-ST
28    95-ST
29    85-ST
30    99-ST
31    41-ST
32    17-ST
33    82-ST
34    15-ST
35    64-ST
36    44-ST
37    71-ST
38    54-ST
39    60-ST
40    48-ST
41    61-ST
42     1-ST
43    88-ST
44    75-ST
45    67-ST
46    81-ST
Name: Indeks, dtype: object

In [25]:
data[3:8] #uzimanje podsekvence redova

,id,Indeks,Prisustvo,Ispit1,Ispit2,Ispit1_popravni,Ispit2_popravni,UKUPNO,Ocjena
3,4,79-ST,0,7.6,4.8,/,/,12.40,/
4,5,89-ST,10,10.6,12.5,12.58,/,35.08,6
5,6,78-ST,0,/,/,13.08,12.83,25.91,6
6,7,93-ST,10,/,12.5,12.67,/,35.17,8
7,8,68-ST,10,/,/,/,/,50.00,9

In [26]:
# nadji indeks studenta u 5. redu
data.loc[5, 'Indeks']

'78-ST'

In [27]:
# svi studenti koji imaju ukupno preko 43 boda
data.loc[data['UKUPNO'] > 43]

,id,Indeks,Prisustvo,Ispit1,Ispit2,Ispit1_popravni,Ispit2_popravni,UKUPNO,Ocjena
7,8,68-ST,10,/,/,/,/,50.00,9
10,11,65-ST,10,/,/,/,/,43.19,8
14,15,84-ST,10,/,/,/,/,43.56,9
16,17,91-ST,10,/,/,/,/,43.48,9
26,27,63-ST,10,16.6,8.7,/,20,46.60,8

In [28]:
# izlistaj indeks i prisustvo za trećeg,četvrtog i petog studenta
data.loc[2:4, ['Indeks', 'Prisustvo']]

  Indeks  Prisustvo
2  69-ST         10
3  79-ST          0
4  89-ST         10

In [29]:
df = pd.DataFrame(np.arange(25).reshape(5,5),
index=[5,4,3,2,1],
columns=['x', 'y', 'z', 'v', 'i'])

df

    x   y   z   v   i
5   0   1   2   3   4
4   5   6   7   8   9
3  10  11  12  13  14
2  15  16  17  18  19
1  20  21  22  23  24

In [30]:
# loc radi sa kljucem (index) reda,
# i sa nazivima kolona
df.loc[1, 'x'] #uzimamo element sto se nalazi u redu sa id 1 i koloni x

20

In [31]:
# iloc radi isključivo sa stvarnim (integer) indeksima
# (kao standardne matrice)
df.iloc[1, 0] #iloc posmatra dataframe objekat kao stvarnu matricu, uzimamo element na indexu [1][0]

5

In [32]:
data.replace('/', np.nan, inplace=True)
data.head() # svaka pojava / zamijenjena sa NaN

,id,Indeks,Prisustvo,Ispit1,Ispit2,Ispit1_popravni,Ispit2_popravni,UKUPNO,Ocjena
0,1,94-ST,10,9.4,7.5,12.08,13.73,35.81,7
1,2,77-ST,10,8.5,NaN,NaN,NaN,35.50,7
2,3,69-ST,10,17,NaN,NaN,NaN,39.50,9
3,4,79-ST,0,7.6,4.8,NaN,NaN,12.40,NaN
4,5,89-ST,10,10.6,12.5,12.58,NaN,35.08,6

In [33]:
data.head()

,id,Indeks,Prisustvo,Ispit1,Ispit2,Ispit1_popravni,Ispit2_popravni,UKUPNO,Ocjena
0,1,94-ST,10,9.4,7.5,12.08,13.73,35.81,7
1,2,77-ST,10,8.5,NaN,NaN,NaN,35.50,7
2,3,69-ST,10,17,NaN,NaN,NaN,39.50,9
3,4,79-ST,0,7.6,4.8,NaN,NaN,12.40,NaN
4,5,89-ST,10,10.6,12.5,12.58,NaN,35.08,6

In [34]:
data.drop([2, 3, 4], inplace=True) # izbaci redove na indeksima 2, 3, i 4
data.head()

,id,Indeks,Prisustvo,Ispit1,Ispit2,Ispit1_popravni,Ispit2_popravni,UKUPNO,Ocjena
0,1,94-ST,10,9.4,7.5,12.08,13.73,35.81,7
1,2,77-ST,10,8.5,NaN,NaN,NaN,35.50,7
5,6,78-ST,0,NaN,NaN,13.08,12.83,25.91,6
6,7,93-ST,10,NaN,12.5,12.67,NaN,35.17,8
7,8,68-ST,10,NaN,NaN,NaN,NaN,50.00,9

In [35]:
# izbaci kolonu ispit2
data.drop(columns=['Ispit2'], inplace=True)
data.head()

   id Indeks  Prisustvo Ispit1 Ispit1_popravni Ispit2_popravni  UKUPNO Ocjena
0   1  94-ST         10    9.4           12.08           13.73   35.81      7
1   2  77-ST         10    8.5             NaN             NaN   35.50      7
5   6  78-ST          0    NaN           13.08           12.83   25.91      6
6   7  93-ST         10    NaN           12.67             NaN   35.17      8
7   8  68-ST         10    NaN             NaN             NaN   50.00      9

In [36]:
data

    id Indeks  Prisustvo Ispit1 Ispit1_popravni Ispit2_popravni  UKUPNO Ocjena
0    1  94-ST         10    9.4           12.08           13.73   35.81      7
1    2  77-ST         10    8.5             NaN             NaN   35.50      7
5    6  78-ST          0    NaN           13.08           12.83   25.91      6
6    7  93-ST         10    NaN           12.67             NaN   35.17      8
7    8  68-ST         10    NaN             NaN             NaN   50.00      9
8    9  83-ST          0    NaN             NaN             NaN    0.00    NaN
9   10  92-ST         10    NaN             NaN             NaN   42.06      9
10  11  65-ST         10    NaN             NaN             NaN   43.19      8
11  12  70-ST         10     13             NaN            16.3   39.30      7
12  13  90-ST         10   15.6             NaN            14.3   39.90      8
13  14  97-ST         10    NaN             NaN             NaN   41.05      9
14  15  84-ST         10    NaN             NaN             NaN   43.56      9
15  16  98-ST         10   12.5             NaN            9.53   38.50    NaN
16  17  91-ST         10    NaN             NaN             NaN   43.48      9
17  18  87-ST         10    NaN             NaN             NaN   35.89      7
18  19  76-ST         10    NaN             NaN             NaN   27.18    NaN
19  20  96-ST         10    NaN             NaN             NaN   41.40      8
20  21  66-ST         10     14             NaN              16   40.00      8
21  22  62-ST         10   12.5             NaN             NaN   42.00      8
22  23  74-ST          0   10.7           14.58            11.7   27.08    NaN
23  24  86-ST         10   13.6             NaN             NaN   36.10      6
24  25  73-ST         10   12.5             NaN           19.07   41.57      7
25  26  80-ST         10    NaN             NaN             NaN   39.45      8
26  27  63-ST         10   16.6             NaN              20   46.60      8
27  28  72-ST         10    NaN             NaN             NaN   18.41    NaN
28  29  95-ST          0   10.8            7.25             NaN   23.50    NaN
29  30  85-ST         10    NaN             NaN             NaN   35.25      7
30  31  99-ST         10    NaN           14.17             NaN   24.17    NaN
31  32  41-ST          0    NaN             NaN             NaN    5.87    NaN
32  33  17-ST          0    7.5            2.33             NaN    9.20    NaN
33  34  82-ST          0     10             NaN             NaN   16.00    NaN
34  35  15-ST          0    NaN             NaN             NaN    0.00    NaN
35  36  64-ST         10   13.3             NaN             NaN   38.30      8
36  37  44-ST         10    NaN               8           14.33   32.33    NaN
37  38  71-ST         10    NaN             NaN             NaN   42.16      8
38  39  54-ST         10    NaN             NaN             NaN   19.35    NaN
39  40  60-ST         10     10             NaN             NaN   38.50      6
40  41  48-ST         10    NaN             NaN             NaN   10.00      6
41  42  61-ST         10    NaN             NaN             NaN   23.12    NaN
42  43   1-ST         10    NaN             NaN             NaN   10.00    NaN
43  44  88-ST         10    NaN             NaN             NaN   37.00      7
44  45  75-ST         10    NaN            9.83            13.5   33.33      6
45  46  67-ST         10   16.5             NaN             NaN   39.50      7
46  47  81-ST         10   15.7             NaN             NaN   43.00      8

#Primjeri koristenja Scikit-Learn (sklearn) biblioteke

In [38]:
data = pd.read_csv('dataset.csv') # ucitaj podatke
data.replace('/', np.nan, inplace=True)
data

,id,Indeks,Prisustvo,Ispit1,Ispit2,Ispit1_popravni,Ispit2_popravni,UKUPNO,Ocjena
0,1,94-ST,10,9.4,7.5,12.08,13.73,35.81,7
1,2,77-ST,10,8.5,NaN,NaN,NaN,35.50,7
2,3,69-ST,10,17,NaN,NaN,NaN,39.50,9
3,4,79-ST,0,7.6,4.8,NaN,NaN,12.40,NaN
4,5,89-ST,10,10.6,12.5,12.58,NaN,35.08,6
5,6,78-ST,0,NaN,NaN,13.08,12.83,25.91,6
6,7,93-ST,10,NaN,12.5,12.67,NaN,35.17,8
7,8,68-ST,10,NaN,NaN,NaN,NaN,50.00,9
8,9,83-ST,0,NaN,NaN,NaN,NaN,0.00,NaN
9,10,92-ST,10,NaN,NaN,NaN,NaN,42.06,9
10,11,65-ST,10,NaN,NaN,NaN,NaN,43.19,8
11,12,70-ST,10,13,7.8,NaN,16.3,39.30,7
12,13,90-ST,10,15.6,7.7,NaN,14.3,39.90,8
13,14,97-ST,10,NaN,NaN,NaN,NaN,41.05,9
14,15,84-ST,10,NaN,NaN,NaN,NaN,43.56,9
15,16,98-ST,10,12.5,7.8,NaN,9.53,38.50,NaN
16,17,91-ST,10,NaN,NaN,NaN,NaN,43.48,9
17,18,87-ST,10,NaN,NaN,NaN,NaN,35.89,7
18,19,76-ST,10,NaN,NaN,NaN,NaN,27.18,NaN
19,20,96-ST,10,NaN,NaN,NaN,NaN,41.40,8
20,21,66-ST,10,14,9.7,NaN,16,40.00,8
21,22,62-ST,10,12.5,NaN,NaN,NaN,42.00,8
22,23,74-ST,0,10.7,NaN,14.58,11.7,27.08,NaN
23,24,86-ST,10,13.6,12.5,NaN,NaN,36.10,6
24,25,73-ST,10,12.5,6.5,NaN,19.07,41.57,7
25,26,80-ST,10,NaN,NaN,NaN,NaN,39.45,8
26,27,63-ST,10,16.6,8.7,NaN,20,46.60,8
27,28,72-ST,10,NaN,NaN,NaN,NaN,18.41,NaN
28,29,95-ST,0,10.8,12.5,7.25,NaN,23.50,NaN
29,30,85-ST,10,NaN,12.5,NaN,NaN,35.25,7
30,31,99-ST,10,NaN,NaN,14.17,NaN,24.17,NaN
31,32,41-ST,0,NaN,NaN,NaN,NaN,5.87,NaN
32,33,17-ST,0,7.5,1.7,2.33,NaN,9.20,NaN
33,34,82-ST,0,10,1.5,NaN,NaN,16.00,NaN
34,35,15-ST,0,NaN,NaN,NaN,NaN,0.00,NaN
35,36,64-ST,10,13.3,15,NaN,NaN,38.30,8
36,37,44-ST,10,NaN,NaN,8,14.33,32.33,NaN
37,38,71-ST,10,NaN,NaN,NaN,NaN,42.16,8
38,39,54-ST,10,NaN,NaN,NaN,NaN,19.35,NaN
39,40,60-ST,10,10,NaN,NaN,NaN,38.50,6
40,41,48-ST,10,NaN,NaN,NaN,NaN,10.00,6
41,42,61-ST,10,NaN,NaN,NaN,NaN,23.12,NaN
42,43,1-ST,10,NaN,NaN,NaN,NaN,10.00,NaN
43,44,88-ST,10,NaN,NaN,NaN,NaN,37.00,7
44,45,75-ST,10,NaN,NaN,9.83,13.5,33.33,6
45,46,67-ST,10,16.5,NaN,NaN,NaN,39.50,7
46,47,81-ST,10,15.7,17.3,NaN,NaN,43.00,8

In [39]:
from sklearn.impute import SimpleImputer
si = SimpleImputer(strategy='mean')
print('Prije zamjene: ')
print(data.loc[:5, 'Ispit2'])
data.loc[:, 'Ispit2'] = si.fit_transform(data.loc[:, 'Ispit2'].values.reshape(-1,1))
print('Nakon zamjene: ')
print(data.loc[:5, 'Ispit2'])

Prije zamjene:
0     7.5
1     NaN
2     NaN
3     4.8
4    12.5
5     NaN
Name: Ispit2, dtype: object
Nakon zamjene:
0     7.500000
1     9.323529
2     9.323529
3     4.800000
4    12.500000
5     9.323529
Name: Ispit2, dtype: float64

In [40]:
from sklearn.preprocessing import scale
data['Ispit2'] = scale(data['Ispit2']) # Z score
data.loc[:5, 'Ispit2']

0   -7.156096e-01
1    6.970976e-16
2    6.970976e-16
3   -1.775173e+00
4    1.246546e+00
5    6.970976e-16
Name: Ispit2, dtype: float64

In [41]:
from sklearn.preprocessing import MinMaxScaler
mm = MinMaxScaler()
data['Ispit2'] = mm.fit_transform(data['Ispit2'].values.reshape(-1,1))
data.loc[:5, 'Ispit2']

0    0.379747
1    0.495160
2    0.495160
3    0.208861
4    0.696203
5    0.495160
Name: Ispit2, dtype: float64

In [42]:
import numpy as np
from sklearn.model_selection import train_test_split

X, Y = np.arange(10).reshape((5, 2)), range(5)

X_train, X_test, Y_train, Y_test = train_test_split(X, Y,
test_size=0.33,
random_state=42)
X,Y

(array([[0, 1],
        [2, 3],
        [4, 5],
        [6, 7],
        [8, 9]]), range(0, 5))

#Primjer koristenja Pickle datoteke

In [43]:
import pickle
import os
import numpy as np
niz = np.arange(1000000)
print("Zauzima {0} kB".format(niz.nbytes/1000))
pickle.dump(niz, open( "datoteka.p", "wb" ), protocol=pickle.HIGHEST_PROTOCOL)
velicina = os.path.getsize('datoteka.p')
print("Datoteka zauzima {0} kB".format(velicina/1000))
niz2 = pickle.load(open("datoteka.p", 'rb'))
if (niz2 == niz).all():
  print("Nizovi su identicni!")

Zauzima 8000.0 kB
Datoteka zauzima 8000.162 kB
Nizovi su identicni!

# 3 Zadaci za rad u laboratoriji
Predviđeno je da se svi zadaci u nastavku rade u sklopu Jupyter Notebook okruženja. Svaki podzadatak treba biti
zasebna Jupyter ćelija.

##Zadatak 1 - Obrada podataka kroz Pandas
Uz vježbu ste dobili datoteku izvjestaj.csv. Potrebno je, koristeći Pandas:

a) Učitati datoteku kao Pandas DataFrame, te prikazati prvih 5 i posljednjih 10 unosa u istoj

In [44]:
#Priprema podataka za prvi zadatak
import numpy as np # ucitaj NumPy
import pandas as pd # ucitaj Pandas

data = pd.read_csv('dataset.csv') # ucitaj podatke

data.head() #prvih 5
data.tail(10) #zadnjih 10

,id,Indeks,Prisustvo,Ispit1,Ispit2,Ispit1_popravni,Ispit2_popravni,UKUPNO,Ocjena
37,38,71-ST,10,/,/,/,/,42.16,8
38,39,54-ST,10,/,/,/,/,19.35,/
39,40,60-ST,10,10,/,/,/,38.50,6
40,41,48-ST,10,/,/,/,/,10.00,6
41,42,61-ST,10,/,/,/,/,23.12,/
42,43,1-ST,10,/,/,/,/,10.00,/
43,44,88-ST,10,/,/,/,/,37.00,7
44,45,75-ST,10,/,/,9.83,13.5,33.33,6
45,46,67-ST,10,16.5,/,/,/,39.50,7
46,47,81-ST,10,15.7,17.3,/,/,43.00,8

b) Ispisati samo podatke vezane za redovne parcijalne ispite (kolone Ispit1 i Ispit2 );

In [45]:
data.loc[:, ['Ispit1', 'Ispit2']]

   Ispit1 Ispit2
0     9.4    7.5
1     8.5      /
2      17      /
3     7.6    4.8
4    10.6   12.5
5       /      /
6       /   12.5
7       /      /
8       /      /
9       /      /
10      /      /
11     13    7.8
12   15.6    7.7
13      /      /
14      /      /
15   12.5    7.8
16      /      /
17      /      /
18      /      /
19      /      /
20     14    9.7
21   12.5      /
22   10.7      /
23   13.6   12.5
24   12.5    6.5
25      /      /
26   16.6    8.7
27      /      /
28   10.8   12.5
29      /   12.5
30      /      /
31      /      /
32    7.5    1.7
33     10    1.5
34      /      /
35   13.3     15
36      /      /
37      /      /
38      /      /
39     10      /
40      /      /
41      /      /
42      /      /
43      /      /
44      /      /
45   16.5      /
46   15.7   17.3

c) Ispisati sve studente koji su izgubili prisustvo

In [46]:
data.loc[data['Prisustvo'] == 0]

,id,Indeks,Prisustvo,Ispit1,Ispit2,Ispit1_popravni,Ispit2_popravni,UKUPNO,Ocjena
3,4,79-ST,0,7.6,4.8,/,/,12.40,/
5,6,78-ST,0,/,/,13.08,12.83,25.91,6
8,9,83-ST,0,/,/,/,/,0.00,/
22,23,74-ST,0,10.7,/,14.58,11.7,27.08,/
28,29,95-ST,0,10.8,12.5,7.25,/,23.50,/
31,32,41-ST,0,/,/,/,/,5.87,/
32,33,17-ST,0,7.5,1.7,2.33,/,9.20,/
33,34,82-ST,0,10,1.5,/,/,16.00,/
34,35,15-ST,0,/,/,/,/,0.00,/

c) Ispisati indeks, ukupne bodove, i ocjenu, za sve studente koji su upisali ocjenu 8 ili više;

In [47]:
data.loc[data['Ocjena'] >= '8', ['Indeks', 'UKUPNO', 'Ocjena']]

   Indeks  UKUPNO Ocjena
2   69-ST   39.50      9
6   93-ST   35.17      8
7   68-ST   50.00      9
9   92-ST   42.06      9
10  65-ST   43.19      8
12  90-ST   39.90      8
13  97-ST   41.05      9
14  84-ST   43.56      9
16  91-ST   43.48      9
19  96-ST   41.40      8
20  66-ST   40.00      8
21  62-ST   42.00      8
25  80-ST   39.45      8
26  63-ST   46.60      8
35  64-ST   38.30      8
37  71-ST   42.16      8
46  81-ST   43.00      8

e) Sve nedostajuće vrijednosti (označene sa simbolom /) zamijeniti sa vrijednošću np.nan

In [48]:
data.replace('/', np.nan, inplace=True)
data

,id,Indeks,Prisustvo,Ispit1,Ispit2,Ispit1_popravni,Ispit2_popravni,UKUPNO,Ocjena
0,1,94-ST,10,9.4,7.5,12.08,13.73,35.81,7
1,2,77-ST,10,8.5,NaN,NaN,NaN,35.50,7
2,3,69-ST,10,17,NaN,NaN,NaN,39.50,9
3,4,79-ST,0,7.6,4.8,NaN,NaN,12.40,NaN
4,5,89-ST,10,10.6,12.5,12.58,NaN,35.08,6
5,6,78-ST,0,NaN,NaN,13.08,12.83,25.91,6
6,7,93-ST,10,NaN,12.5,12.67,NaN,35.17,8
7,8,68-ST,10,NaN,NaN,NaN,NaN,50.00,9
8,9,83-ST,0,NaN,NaN,NaN,NaN,0.00,NaN
9,10,92-ST,10,NaN,NaN,NaN,NaN,42.06,9
10,11,65-ST,10,NaN,NaN,NaN,NaN,43.19,8
11,12,70-ST,10,13,7.8,NaN,16.3,39.30,7
12,13,90-ST,10,15.6,7.7,NaN,14.3,39.90,8
13,14,97-ST,10,NaN,NaN,NaN,NaN,41.05,9
14,15,84-ST,10,NaN,NaN,NaN,NaN,43.56,9
15,16,98-ST,10,12.5,7.8,NaN,9.53,38.50,NaN
16,17,91-ST,10,NaN,NaN,NaN,NaN,43.48,9
17,18,87-ST,10,NaN,NaN,NaN,NaN,35.89,7
18,19,76-ST,10,NaN,NaN,NaN,NaN,27.18,NaN
19,20,96-ST,10,NaN,NaN,NaN,NaN,41.40,8
20,21,66-ST,10,14,9.7,NaN,16,40.00,8
21,22,62-ST,10,12.5,NaN,NaN,NaN,42.00,8
22,23,74-ST,0,10.7,NaN,14.58,11.7,27.08,NaN
23,24,86-ST,10,13.6,12.5,NaN,NaN,36.10,6
24,25,73-ST,10,12.5,6.5,NaN,19.07,41.57,7
25,26,80-ST,10,NaN,NaN,NaN,NaN,39.45,8
26,27,63-ST,10,16.6,8.7,NaN,20,46.60,8
27,28,72-ST,10,NaN,NaN,NaN,NaN,18.41,NaN
28,29,95-ST,0,10.8,12.5,7.25,NaN,23.50,NaN
29,30,85-ST,10,NaN,12.5,NaN,NaN,35.25,7
30,31,99-ST,10,NaN,NaN,14.17,NaN,24.17,NaN
31,32,41-ST,0,NaN,NaN,NaN,NaN,5.87,NaN
32,33,17-ST,0,7.5,1.7,2.33,NaN,9.20,NaN
33,34,82-ST,0,10,1.5,NaN,NaN,16.00,NaN
34,35,15-ST,0,NaN,NaN,NaN,NaN,0.00,NaN
35,36,64-ST,10,13.3,15,NaN,NaN,38.30,8
36,37,44-ST,10,NaN,NaN,8,14.33,32.33,NaN
37,38,71-ST,10,NaN,NaN,NaN,NaN,42.16,8
38,39,54-ST,10,NaN,NaN,NaN,NaN,19.35,NaN
39,40,60-ST,10,10,NaN,NaN,NaN,38.50,6
40,41,48-ST,10,NaN,NaN,NaN,NaN,10.00,6
41,42,61-ST,10,NaN,NaN,NaN,NaN,23.12,NaN
42,43,1-ST,10,NaN,NaN,NaN,NaN,10.00,NaN
43,44,88-ST,10,NaN,NaN,NaN,NaN,37.00,7
44,45,75-ST,10,NaN,NaN,9.83,13.5,33.33,6
45,46,67-ST,10,16.5,NaN,NaN,NaN,39.50,7
46,47,81-ST,10,15.7,17.3,NaN,NaN,43.00,8

f) Iz skupa podataka odbaciti sve studente koji nemaju upisanu ocjenu

In [49]:
data.dropna(subset=['Ocjena'])

,id,Indeks,Prisustvo,Ispit1,Ispit2,Ispit1_popravni,Ispit2_popravni,UKUPNO,Ocjena
0,1,94-ST,10,9.4,7.5,12.08,13.73,35.81,7
1,2,77-ST,10,8.5,NaN,NaN,NaN,35.50,7
2,3,69-ST,10,17,NaN,NaN,NaN,39.50,9
4,5,89-ST,10,10.6,12.5,12.58,NaN,35.08,6
5,6,78-ST,0,NaN,NaN,13.08,12.83,25.91,6
6,7,93-ST,10,NaN,12.5,12.67,NaN,35.17,8
7,8,68-ST,10,NaN,NaN,NaN,NaN,50.00,9
9,10,92-ST,10,NaN,NaN,NaN,NaN,42.06,9
10,11,65-ST,10,NaN,NaN,NaN,NaN,43.19,8
11,12,70-ST,10,13,7.8,NaN,16.3,39.30,7
12,13,90-ST,10,15.6,7.7,NaN,14.3,39.90,8
13,14,97-ST,10,NaN,NaN,NaN,NaN,41.05,9
14,15,84-ST,10,NaN,NaN,NaN,NaN,43.56,9
16,17,91-ST,10,NaN,NaN,NaN,NaN,43.48,9
17,18,87-ST,10,NaN,NaN,NaN,NaN,35.89,7
19,20,96-ST,10,NaN,NaN,NaN,NaN,41.40,8
20,21,66-ST,10,14,9.7,NaN,16,40.00,8
21,22,62-ST,10,12.5,NaN,NaN,NaN,42.00,8
23,24,86-ST,10,13.6,12.5,NaN,NaN,36.10,6
24,25,73-ST,10,12.5,6.5,NaN,19.07,41.57,7
25,26,80-ST,10,NaN,NaN,NaN,NaN,39.45,8
26,27,63-ST,10,16.6,8.7,NaN,20,46.60,8
29,30,85-ST,10,NaN,12.5,NaN,NaN,35.25,7
35,36,64-ST,10,13.3,15,NaN,NaN,38.30,8
37,38,71-ST,10,NaN,NaN,NaN,NaN,42.16,8
39,40,60-ST,10,10,NaN,NaN,NaN,38.50,6
40,41,48-ST,10,NaN,NaN,NaN,NaN,10.00,6
43,44,88-ST,10,NaN,NaN,NaN,NaN,37.00,7
44,45,75-ST,10,NaN,NaN,9.83,13.5,33.33,6
45,46,67-ST,10,16.5,NaN,NaN,NaN,39.50,7
46,47,81-ST,10,15.7,17.3,NaN,NaN,43.00,8

g) Kreirati novu kolonu Ispit1_final u koju ćete za svakog studenta upisati onaj rezultat ispita koji je bolji (na
primjer, ako je student bolje uradio popravni ispit, onda tu pišete bodove sa popravnog, a u protivnom sa
redovnog);

In [50]:
ispitiRedovni = data["Ispit1"]
ispitiPopravni = data["Ispit1_popravni"]
ispitiFinal = []
for i in range(0,len(ispitiRedovni)):
  if(isinstance(ispitiRedovni[i],str) != True and isinstance(ispitiPopravni[i],str)!=True): #Ako su oba nan, svejedno
    ispitiFinal.append(ispitiRedovni[i])
  elif (isinstance(ispitiRedovni[i],str) != True ): #Ako nije izlazio na redovni, automatski upisujemo popravni
    ispitiFinal.append(ispitiPopravni[i])
  elif (isinstance(ispitiPopravni[i],str) != True ): #Ako nije izlazio na popravni, automatski upisujemo redovni
    ispitiFinal.append(ispitiRedovni[i])
  elif (float(ispitiRedovni[i])>=float(ispitiPopravni[i])): #Ako je vise imao na redovnom ili isto, upisujemo redovni
    ispitiFinal.append(ispitiRedovni[i])
  else: #U ostalim slucajevima upisujemo popravni
    ispitiFinal.append(ispitiPopravni[i])

data['Ispit1_final']=ispitiFinal
data

,id,Indeks,Prisustvo,Ispit1,Ispit2,Ispit1_popravni,Ispit2_popravni,UKUPNO,Ocjena,Ispit1_final
0,1,94-ST,10,9.4,7.5,12.08,13.73,35.81,7,12.08
1,2,77-ST,10,8.5,NaN,NaN,NaN,35.50,7,8.5
2,3,69-ST,10,17,NaN,NaN,NaN,39.50,9,17
3,4,79-ST,0,7.6,4.8,NaN,NaN,12.40,NaN,7.6
4,5,89-ST,10,10.6,12.5,12.58,NaN,35.08,6,12.58
5,6,78-ST,0,NaN,NaN,13.08,12.83,25.91,6,13.08
6,7,93-ST,10,NaN,12.5,12.67,NaN,35.17,8,12.67
7,8,68-ST,10,NaN,NaN,NaN,NaN,50.00,9,NaN
8,9,83-ST,0,NaN,NaN,NaN,NaN,0.00,NaN,NaN
9,10,92-ST,10,NaN,NaN,NaN,NaN,42.06,9,NaN
10,11,65-ST,10,NaN,NaN,NaN,NaN,43.19,8,NaN
11,12,70-ST,10,13,7.8,NaN,16.3,39.30,7,13
12,13,90-ST,10,15.6,7.7,NaN,14.3,39.90,8,15.6
13,14,97-ST,10,NaN,NaN,NaN,NaN,41.05,9,NaN
14,15,84-ST,10,NaN,NaN,NaN,NaN,43.56,9,NaN
15,16,98-ST,10,12.5,7.8,NaN,9.53,38.50,NaN,12.5
16,17,91-ST,10,NaN,NaN,NaN,NaN,43.48,9,NaN
17,18,87-ST,10,NaN,NaN,NaN,NaN,35.89,7,NaN
18,19,76-ST,10,NaN,NaN,NaN,NaN,27.18,NaN,NaN
19,20,96-ST,10,NaN,NaN,NaN,NaN,41.40,8,NaN
20,21,66-ST,10,14,9.7,NaN,16,40.00,8,14
21,22,62-ST,10,12.5,NaN,NaN,NaN,42.00,8,12.5
22,23,74-ST,0,10.7,NaN,14.58,11.7,27.08,NaN,14.58
23,24,86-ST,10,13.6,12.5,NaN,NaN,36.10,6,13.6
24,25,73-ST,10,12.5,6.5,NaN,19.07,41.57,7,12.5
25,26,80-ST,10,NaN,NaN,NaN,NaN,39.45,8,NaN
26,27,63-ST,10,16.6,8.7,NaN,20,46.60,8,16.6
27,28,72-ST,10,NaN,NaN,NaN,NaN,18.41,NaN,NaN
28,29,95-ST,0,10.8,12.5,7.25,NaN,23.50,NaN,10.8
29,30,85-ST,10,NaN,12.5,NaN,NaN,35.25,7,NaN
30,31,99-ST,10,NaN,NaN,14.17,NaN,24.17,NaN,14.17
31,32,41-ST,0,NaN,NaN,NaN,NaN,5.87,NaN,NaN
32,33,17-ST,0,7.5,1.7,2.33,NaN,9.20,NaN,7.5
33,34,82-ST,0,10,1.5,NaN,NaN,16.00,NaN,10
34,35,15-ST,0,NaN,NaN,NaN,NaN,0.00,NaN,NaN
35,36,64-ST,10,13.3,15,NaN,NaN,38.30,8,13.3
36,37,44-ST,10,NaN,NaN,8,14.33,32.33,NaN,8
37,38,71-ST,10,NaN,NaN,NaN,NaN,42.16,8,NaN
38,39,54-ST,10,NaN,NaN,NaN,NaN,19.35,NaN,NaN
39,40,60-ST,10,10,NaN,NaN,NaN,38.50,6,10
40,41,48-ST,10,NaN,NaN,NaN,NaN,10.00,6,NaN
41,42,61-ST,10,NaN,NaN,NaN,NaN,23.12,NaN,NaN
42,43,1-ST,10,NaN,NaN,NaN,NaN,10.00,NaN,NaN
43,44,88-ST,10,NaN,NaN,NaN,NaN,37.00,7,NaN
44,45,75-ST,10,NaN,NaN,9.83,13.5,33.33,6,9.83
45,46,67-ST,10,16.5,NaN,NaN,NaN,39.50,7,16.5
46,47,81-ST,10,15.7,17.3,NaN,NaN,43.00,8,15.7

h) Ponoviti postupak za Ispit2

In [51]:
ispitiRedovni = data["Ispit2"]
ispitiPopravni = data["Ispit2_popravni"]
ispitiFinal = []
for i in range(0,len(ispitiRedovni)):
  if(isinstance(ispitiRedovni[i],str) != True and isinstance(ispitiPopravni[i],str)!=True): #Ako su oba nan, svejedno
    ispitiFinal.append(ispitiRedovni[i])
  elif (isinstance(ispitiRedovni[i],str) != True ): #Ako nije izlazio na redovni, automatski upisujemo popravni
    ispitiFinal.append(ispitiPopravni[i])
  elif (isinstance(ispitiPopravni[i],str) != True ): #Ako nije izlazio na popravni, automatski upisujemo redovni
    ispitiFinal.append(ispitiRedovni[i])
  elif (float(ispitiRedovni[i])>=float(ispitiPopravni[i])): #Ako je vise imao na redovnom ili isto, upisujemo redovni
    ispitiFinal.append(ispitiRedovni[i])
  else: #U ostalim slucajevima upisujemo popravni
    ispitiFinal.append(ispitiPopravni[i])

data['Ispit2_final']=ispitiFinal
data

,id,Indeks,Prisustvo,Ispit1,Ispit2,Ispit1_popravni,Ispit2_popravni,UKUPNO,Ocjena,Ispit1_final,Ispit2_final
0,1,94-ST,10,9.4,7.5,12.08,13.73,35.81,7,12.08,13.73
1,2,77-ST,10,8.5,NaN,NaN,NaN,35.50,7,8.5,NaN
2,3,69-ST,10,17,NaN,NaN,NaN,39.50,9,17,NaN
3,4,79-ST,0,7.6,4.8,NaN,NaN,12.40,NaN,7.6,4.8
4,5,89-ST,10,10.6,12.5,12.58,NaN,35.08,6,12.58,12.5
5,6,78-ST,0,NaN,NaN,13.08,12.83,25.91,6,13.08,12.83
6,7,93-ST,10,NaN,12.5,12.67,NaN,35.17,8,12.67,12.5
7,8,68-ST,10,NaN,NaN,NaN,NaN,50.00,9,NaN,NaN
8,9,83-ST,0,NaN,NaN,NaN,NaN,0.00,NaN,NaN,NaN
9,10,92-ST,10,NaN,NaN,NaN,NaN,42.06,9,NaN,NaN
10,11,65-ST,10,NaN,NaN,NaN,NaN,43.19,8,NaN,NaN
11,12,70-ST,10,13,7.8,NaN,16.3,39.30,7,13,16.3
12,13,90-ST,10,15.6,7.7,NaN,14.3,39.90,8,15.6,14.3
13,14,97-ST,10,NaN,NaN,NaN,NaN,41.05,9,NaN,NaN
14,15,84-ST,10,NaN,NaN,NaN,NaN,43.56,9,NaN,NaN
15,16,98-ST,10,12.5,7.8,NaN,9.53,38.50,NaN,12.5,9.53
16,17,91-ST,10,NaN,NaN,NaN,NaN,43.48,9,NaN,NaN
17,18,87-ST,10,NaN,NaN,NaN,NaN,35.89,7,NaN,NaN
18,19,76-ST,10,NaN,NaN,NaN,NaN,27.18,NaN,NaN,NaN
19,20,96-ST,10,NaN,NaN,NaN,NaN,41.40,8,NaN,NaN
20,21,66-ST,10,14,9.7,NaN,16,40.00,8,14,16
21,22,62-ST,10,12.5,NaN,NaN,NaN,42.00,8,12.5,NaN
22,23,74-ST,0,10.7,NaN,14.58,11.7,27.08,NaN,14.58,11.7
23,24,86-ST,10,13.6,12.5,NaN,NaN,36.10,6,13.6,12.5
24,25,73-ST,10,12.5,6.5,NaN,19.07,41.57,7,12.5,19.07
25,26,80-ST,10,NaN,NaN,NaN,NaN,39.45,8,NaN,NaN
26,27,63-ST,10,16.6,8.7,NaN,20,46.60,8,16.6,20
27,28,72-ST,10,NaN,NaN,NaN,NaN,18.41,NaN,NaN,NaN
28,29,95-ST,0,10.8,12.5,7.25,NaN,23.50,NaN,10.8,12.5
29,30,85-ST,10,NaN,12.5,NaN,NaN,35.25,7,NaN,12.5
30,31,99-ST,10,NaN,NaN,14.17,NaN,24.17,NaN,14.17,NaN
31,32,41-ST,0,NaN,NaN,NaN,NaN,5.87,NaN,NaN,NaN
32,33,17-ST,0,7.5,1.7,2.33,NaN,9.20,NaN,7.5,1.7
33,34,82-ST,0,10,1.5,NaN,NaN,16.00,NaN,10,1.5
34,35,15-ST,0,NaN,NaN,NaN,NaN,0.00,NaN,NaN,NaN
35,36,64-ST,10,13.3,15,NaN,NaN,38.30,8,13.3,15
36,37,44-ST,10,NaN,NaN,8,14.33,32.33,NaN,8,14.33
37,38,71-ST,10,NaN,NaN,NaN,NaN,42.16,8,NaN,NaN
38,39,54-ST,10,NaN,NaN,NaN,NaN,19.35,NaN,NaN,NaN
39,40,60-ST,10,10,NaN,NaN,NaN,38.50,6,10,NaN
40,41,48-ST,10,NaN,NaN,NaN,NaN,10.00,6,NaN,NaN
41,42,61-ST,10,NaN,NaN,NaN,NaN,23.12,NaN,NaN,NaN
42,43,1-ST,10,NaN,NaN,NaN,NaN,10.00,NaN,NaN,NaN
43,44,88-ST,10,NaN,NaN,NaN,NaN,37.00,7,NaN,NaN
44,45,75-ST,10,NaN,NaN,9.83,13.5,33.33,6,9.83,13.5
45,46,67-ST,10,16.5,NaN,NaN,NaN,39.50,7,16.5,NaN
46,47,81-ST,10,15.7,17.3,NaN,NaN,43.00,8,15.7,17.3

i) Odbaciti četiri stare kolone za ispite

In [52]:
data.drop(columns=['Ispit1','Ispit2','Ispit1_popravni', 'Ispit2_popravni'], inplace=True)
data

    id Indeks  Prisustvo  UKUPNO Ocjena Ispit1_final Ispit2_final
0    1  94-ST         10   35.81      7        12.08        13.73
1    2  77-ST         10   35.50      7          8.5          NaN
2    3  69-ST         10   39.50      9           17          NaN
3    4  79-ST          0   12.40    NaN          7.6          4.8
4    5  89-ST         10   35.08      6        12.58         12.5
5    6  78-ST          0   25.91      6        13.08        12.83
6    7  93-ST         10   35.17      8        12.67         12.5
7    8  68-ST         10   50.00      9          NaN          NaN
8    9  83-ST          0    0.00    NaN          NaN          NaN
9   10  92-ST         10   42.06      9          NaN          NaN
10  11  65-ST         10   43.19      8          NaN          NaN
11  12  70-ST         10   39.30      7           13         16.3
12  13  90-ST         10   39.90      8         15.6         14.3
13  14  97-ST         10   41.05      9          NaN          NaN
14  15  84-ST         10   43.56      9          NaN          NaN
15  16  98-ST         10   38.50    NaN         12.5         9.53
16  17  91-ST         10   43.48      9          NaN          NaN
17  18  87-ST         10   35.89      7          NaN          NaN
18  19  76-ST         10   27.18    NaN          NaN          NaN
19  20  96-ST         10   41.40      8          NaN          NaN
20  21  66-ST         10   40.00      8           14           16
21  22  62-ST         10   42.00      8         12.5          NaN
22  23  74-ST          0   27.08    NaN        14.58         11.7
23  24  86-ST         10   36.10      6         13.6         12.5
24  25  73-ST         10   41.57      7         12.5        19.07
25  26  80-ST         10   39.45      8          NaN          NaN
26  27  63-ST         10   46.60      8         16.6           20
27  28  72-ST         10   18.41    NaN          NaN          NaN
28  29  95-ST          0   23.50    NaN         10.8         12.5
29  30  85-ST         10   35.25      7          NaN         12.5
30  31  99-ST         10   24.17    NaN        14.17          NaN
31  32  41-ST          0    5.87    NaN          NaN          NaN
32  33  17-ST          0    9.20    NaN          7.5          1.7
33  34  82-ST          0   16.00    NaN           10          1.5
34  35  15-ST          0    0.00    NaN          NaN          NaN
35  36  64-ST         10   38.30      8         13.3           15
36  37  44-ST         10   32.33    NaN            8        14.33
37  38  71-ST         10   42.16      8          NaN          NaN
38  39  54-ST         10   19.35    NaN          NaN          NaN
39  40  60-ST         10   38.50      6           10          NaN
40  41  48-ST         10   10.00      6          NaN          NaN
41  42  61-ST         10   23.12    NaN          NaN          NaN
42  43   1-ST         10   10.00    NaN          NaN          NaN
43  44  88-ST         10   37.00      7          NaN          NaN
44  45  75-ST         10   33.33      6         9.83         13.5
45  46  67-ST         10   39.50      7         16.5          NaN
46  47  81-ST         10   43.00      8         15.7         17.3

j) Skup podataka sačuvati kao CSV datoteku pod nazivom izvjestaj_modificirano.csv. Koristiti znak tačka-zarez
kao separator

In [53]:
data.to_csv('izvjestaj_modificirano.csv',index=False)

k) Skup podataka sačuvati kao Pickle datoteku pod nazivom izvjestaj_modificirano_pickle.p.

In [54]:
import pickle
pickle.dump(data, open( "izvjestaj_modificirano.p", "wb" ), protocol=pickle.HIGHEST_PROTOCOL)

#Zadatak 2 - Normalizacija podataka pomoću Sklearn

a) Učitati datoteku izvjestaj.csv kao Pandas DataFrame;

In [55]:
import pandas as pd
import numpy as np # ucitaj NumPy
data = pd.read_csv('dataset.csv') # ucitaj podatke
data.replace('/', np.nan, inplace=True)
data

,id,Indeks,Prisustvo,Ispit1,Ispit2,Ispit1_popravni,Ispit2_popravni,UKUPNO,Ocjena
0,1,94-ST,10,9.4,7.5,12.08,13.73,35.81,7
1,2,77-ST,10,8.5,NaN,NaN,NaN,35.50,7
2,3,69-ST,10,17,NaN,NaN,NaN,39.50,9
3,4,79-ST,0,7.6,4.8,NaN,NaN,12.40,NaN
4,5,89-ST,10,10.6,12.5,12.58,NaN,35.08,6
5,6,78-ST,0,NaN,NaN,13.08,12.83,25.91,6
6,7,93-ST,10,NaN,12.5,12.67,NaN,35.17,8
7,8,68-ST,10,NaN,NaN,NaN,NaN,50.00,9
8,9,83-ST,0,NaN,NaN,NaN,NaN,0.00,NaN
9,10,92-ST,10,NaN,NaN,NaN,NaN,42.06,9
10,11,65-ST,10,NaN,NaN,NaN,NaN,43.19,8
11,12,70-ST,10,13,7.8,NaN,16.3,39.30,7
12,13,90-ST,10,15.6,7.7,NaN,14.3,39.90,8
13,14,97-ST,10,NaN,NaN,NaN,NaN,41.05,9
14,15,84-ST,10,NaN,NaN,NaN,NaN,43.56,9
15,16,98-ST,10,12.5,7.8,NaN,9.53,38.50,NaN
16,17,91-ST,10,NaN,NaN,NaN,NaN,43.48,9
17,18,87-ST,10,NaN,NaN,NaN,NaN,35.89,7
18,19,76-ST,10,NaN,NaN,NaN,NaN,27.18,NaN
19,20,96-ST,10,NaN,NaN,NaN,NaN,41.40,8
20,21,66-ST,10,14,9.7,NaN,16,40.00,8
21,22,62-ST,10,12.5,NaN,NaN,NaN,42.00,8
22,23,74-ST,0,10.7,NaN,14.58,11.7,27.08,NaN
23,24,86-ST,10,13.6,12.5,NaN,NaN,36.10,6
24,25,73-ST,10,12.5,6.5,NaN,19.07,41.57,7
25,26,80-ST,10,NaN,NaN,NaN,NaN,39.45,8
26,27,63-ST,10,16.6,8.7,NaN,20,46.60,8
27,28,72-ST,10,NaN,NaN,NaN,NaN,18.41,NaN
28,29,95-ST,0,10.8,12.5,7.25,NaN,23.50,NaN
29,30,85-ST,10,NaN,12.5,NaN,NaN,35.25,7
30,31,99-ST,10,NaN,NaN,14.17,NaN,24.17,NaN
31,32,41-ST,0,NaN,NaN,NaN,NaN,5.87,NaN
32,33,17-ST,0,7.5,1.7,2.33,NaN,9.20,NaN
33,34,82-ST,0,10,1.5,NaN,NaN,16.00,NaN
34,35,15-ST,0,NaN,NaN,NaN,NaN,0.00,NaN
35,36,64-ST,10,13.3,15,NaN,NaN,38.30,8
36,37,44-ST,10,NaN,NaN,8,14.33,32.33,NaN
37,38,71-ST,10,NaN,NaN,NaN,NaN,42.16,8
38,39,54-ST,10,NaN,NaN,NaN,NaN,19.35,NaN
39,40,60-ST,10,10,NaN,NaN,NaN,38.50,6
40,41,48-ST,10,NaN,NaN,NaN,NaN,10.00,6
41,42,61-ST,10,NaN,NaN,NaN,NaN,23.12,NaN
42,43,1-ST,10,NaN,NaN,NaN,NaN,10.00,NaN
43,44,88-ST,10,NaN,NaN,NaN,NaN,37.00,7
44,45,75-ST,10,NaN,NaN,9.83,13.5,33.33,6
45,46,67-ST,10,16.5,NaN,NaN,NaN,39.50,7
46,47,81-ST,10,15.7,17.3,NaN,NaN,43.00,8

b) Za kolone koje predstavljaju redovne ispite, izvršiti zamjenu nedostajućih vrijednosti strategijom median

In [56]:
from sklearn.impute import SimpleImputer
si = SimpleImputer(strategy='median')

print('Prije zamjene: ')
print(data.loc[:5, 'Ispit1'])
print(data.loc[:5, 'Ispit2'])
data.loc[:, 'Ispit1'] = si.fit_transform(data.loc[:, 'Ispit1'].values.reshape(-1,1))
data.loc[:, 'Ispit2'] = si.fit_transform(data.loc[:, 'Ispit2'].values.reshape(-1,1))
print('Nakon zamjene: ')
print(data.loc[:5, 'Ispit1'])
print(data.loc[:5, 'Ispit2'])

Prije zamjene:
0     9.4
1     8.5
2      17
3     7.6
4    10.6
5     NaN
Name: Ispit1, dtype: object
0     7.5
1     NaN
2     NaN
3     4.8
4    12.5
5     NaN
Name: Ispit2, dtype: object
Nakon zamjene:
0     9.4
1     8.5
2    17.0
3     7.6
4    10.6
5    12.5
Name: Ispit1, dtype: float64
0     7.5
1     8.7
2     8.7
3     4.8
4    12.5
5     8.7
Name: Ispit2, dtype: float64

c) Za kolone koje predstavljaju popravne ispite, izvršiti zamjenu nedostajućih vrijednosti pomoću strategije mean

In [57]:
from sklearn.impute import SimpleImputer
si = SimpleImputer(strategy='mean')

print('Prije zamjene: ')
print(data.loc[:5, 'Ispit1_popravni'])
print(data.loc[:5, 'Ispit2_popravni'])
data.loc[:, 'Ispit1_popravni'] = si.fit_transform(data.loc[:, 'Ispit1_popravni'].values.reshape(-1,1))
data.loc[:, 'Ispit2_popravni'] = si.fit_transform(data.loc[:, 'Ispit2_popravni'].values.reshape(-1,1))
print('Nakon zamjene: ')
print(data.loc[:5, 'Ispit1_popravni'])
print(data.loc[:5, 'Ispit2_popravni'])

Prije zamjene:
0    12.08
1      NaN
2      NaN
3      NaN
4    12.58
5    13.08
Name: Ispit1_popravni, dtype: object
0    13.73
1      NaN
2      NaN
3      NaN
4      NaN
5    12.83
Name: Ispit2_popravni, dtype: object
Nakon zamjene:
0    12.080
1    10.657
2    10.657
3    10.657
4    12.580
5    13.080
Name: Ispit1_popravni, dtype: float64
0    13.730000
1    14.662727
2    14.662727
3    14.662727
4    14.662727
5    12.830000
Name: Ispit2_popravni, dtype: float64

d) Izvršiti Z-score normalizaciju vrijednosti za redovne parcijalne ispite

In [58]:
from sklearn.preprocessing import scale
print("Ispit 1 prije normalizacije")
print(data.loc[:5,'Ispit1'])
data['Ispit1'] = scale(data['Ispit1']) 
print("Ispit 1 poslije normalizacije")
print(data.loc[:5, 'Ispit1'])

print("Ispit 2 prije normalizacije")
print(data.loc[:5,'Ispit2'])
data['Ispit2'] = scale(data['Ispit2']) 
print("Ispit 2 poslije normalizacije")
print(data.loc[:5, 'Ispit2'])

Ispit 1 prije normalizacije
0     9.4
1     8.5
2    17.0
3     7.6
4    10.6
5    12.5
Name: Ispit1, dtype: float64
Ispit 1 poslije normalizacije
0   -1.561766
1   -2.029964
2    2.391904
3   -2.498161
4   -0.937502
5    0.050915
Name: Ispit1, dtype: float64
Ispit 2 prije normalizacije
0     7.5
1     8.7
2     8.7
3     4.8
4    12.5
5     8.7
Name: Ispit2, dtype: float64
Ispit 2 poslije normalizacije
0   -0.555596
1   -0.087900
2   -0.087900
3   -1.607912
4    1.393136
5   -0.087900
Name: Ispit2, dtype: float64

e) Izvršiti MinMax normalizaciju vrijednosti za popravne parcijalne ispite

In [59]:
from sklearn.preprocessing import MinMaxScaler
mm = MinMaxScaler()

print("Ispit1_popravni prije normalizacije")
print(data.loc[:5,'Ispit1_popravni'])
data['Ispit1_popravni'] = mm.fit_transform(data['Ispit1_popravni'].values.reshape(-1,1))
print("Ispit1_popravni poslije normalizacije")
print(data.loc[:5, 'Ispit1_popravni'])

print("Ispit2_popravni prije normalizacije")
print(data.loc[:5,'Ispit2_popravni'])
data['Ispit2_popravni'] = mm.fit_transform(data['Ispit2_popravni'].values.reshape(-1,1))
print("Ispit2_popravni poslije normalizacije")
print(data.loc[:5, 'Ispit2_popravni'])

Ispit1_popravni prije normalizacije
0    12.080
1    10.657
2    10.657
3    10.657
4    12.580
5    13.080
Name: Ispit1_popravni, dtype: float64
Ispit1_popravni poslije normalizacije
0    0.795918
1    0.679755
2    0.679755
3    0.679755
4    0.836735
5    0.877551
Name: Ispit1_popravni, dtype: float64
Ispit2_popravni prije normalizacije
0    13.730000
1    14.662727
2    14.662727
3    14.662727
4    14.662727
5    12.830000
Name: Ispit2_popravni, dtype: float64
Ispit2_popravni poslije normalizacije
0    0.401146
1    0.490232
2    0.490232
3    0.490232
4    0.490232
5    0.315186
Name: Ispit2_popravni, dtype: float64

f) Sve ostale nedostajuće vrijednosti u skupu podataka zamijeniti sa nulama

In [60]:
data.replace(np.nan, '0', inplace=True)
data

,id,Indeks,Prisustvo,Ispit1,Ispit2,Ispit1_popravni,Ispit2_popravni,UKUPNO,Ocjena
0,1,94-ST,10,-1.561766,-0.555596,0.795918,0.401146,35.81,7
1,2,77-ST,10,-2.029964,-0.087900,0.679755,0.490232,35.50,7
2,3,69-ST,10,2.391904,-0.087900,0.679755,0.490232,39.50,9
3,4,79-ST,0,-2.498161,-1.607912,0.679755,0.490232,12.40,0
4,5,89-ST,10,-0.937502,1.393136,0.836735,0.490232,35.08,6
5,6,78-ST,0,0.050915,-0.087900,0.877551,0.315186,25.91,6
6,7,93-ST,10,0.050915,1.393136,0.844082,0.490232,35.17,8
7,8,68-ST,10,0.050915,-0.087900,0.679755,0.490232,50.00,9
8,9,83-ST,0,0.050915,-0.087900,0.679755,0.490232,0.00,0
9,10,92-ST,10,0.050915,-0.087900,0.679755,0.490232,42.06,9
10,11,65-ST,10,0.050915,-0.087900,0.679755,0.490232,43.19,8
11,12,70-ST,10,0.311025,-0.438672,0.679755,0.646609,39.30,7
12,13,90-ST,10,1.663596,-0.477647,0.679755,0.455587,39.90,8
13,14,97-ST,10,0.050915,-0.087900,0.679755,0.490232,41.05,9
14,15,84-ST,10,0.050915,-0.087900,0.679755,0.490232,43.56,9
15,16,98-ST,10,0.050915,-0.438672,0.679755,0.000000,38.50,0
16,17,91-ST,10,0.050915,-0.087900,0.679755,0.490232,43.48,9
17,18,87-ST,10,0.050915,-0.087900,0.679755,0.490232,35.89,7
18,19,76-ST,10,0.050915,-0.087900,0.679755,0.490232,27.18,0
19,20,96-ST,10,0.050915,-0.087900,0.679755,0.490232,41.40,8
20,21,66-ST,10,0.831245,0.301846,0.679755,0.617956,40.00,8
21,22,62-ST,10,0.050915,-0.087900,0.679755,0.490232,42.00,8
22,23,74-ST,0,-0.885480,-0.087900,1.000000,0.207259,27.08,0
23,24,86-ST,10,0.623157,1.393136,0.679755,0.490232,36.10,6
24,25,73-ST,10,0.050915,-0.945343,0.679755,0.911175,41.57,7
25,26,80-ST,10,0.050915,-0.087900,0.679755,0.490232,39.45,8
26,27,63-ST,10,2.183816,-0.087900,0.679755,1.000000,46.60,8
27,28,72-ST,10,0.050915,-0.087900,0.679755,0.490232,18.41,0
28,29,95-ST,0,-0.833458,1.393136,0.401633,0.490232,23.50,0
29,30,85-ST,10,0.050915,1.393136,0.679755,0.490232,35.25,7
30,31,99-ST,10,0.050915,-0.087900,0.966531,0.490232,24.17,0
31,32,41-ST,0,0.050915,-0.087900,0.679755,0.490232,5.87,0
32,33,17-ST,0,-2.550183,-2.816126,0.000000,0.490232,9.20,0
33,34,82-ST,0,-1.249634,-2.894075,0.679755,0.490232,16.00,0
34,35,15-ST,0,0.050915,-0.087900,0.679755,0.490232,0.00,0
35,36,64-ST,10,0.467091,2.367503,0.679755,0.490232,38.30,8
36,37,44-ST,10,0.050915,-0.087900,0.462857,0.458453,32.33,0
37,38,71-ST,10,0.050915,-0.087900,0.679755,0.490232,42.16,8
38,39,54-ST,10,0.050915,-0.087900,0.679755,0.490232,19.35,0
39,40,60-ST,10,-1.249634,-0.087900,0.679755,0.490232,38.50,6
40,41,48-ST,10,0.050915,-0.087900,0.679755,0.490232,10.00,6
41,42,61-ST,10,0.050915,-0.087900,0.679755,0.490232,23.12,0
42,43,1-ST,10,0.050915,-0.087900,0.679755,0.490232,10.00,0
43,44,88-ST,10,0.050915,-0.087900,0.679755,0.490232,37.00,7
44,45,75-ST,10,0.050915,-0.087900,0.612245,0.379179,33.33,6
45,46,67-ST,10,2.131794,-0.087900,0.679755,0.490232,39.50,7
46,47,81-ST,10,1.715618,3.263919,0.679755,0.490232,43.00,8

g) Izdvojiti kolonu Ocjena u posebnu varijablu, na način da sada u originalnom skupu podataka ta kolona više
ne postoji

In [61]:
print("Prije izdvajanja kolone Ocjena: ")
print(data)
ocjene = data.pop("Ocjena")
print("Poslije izdvajanja kolone Ocjena: ")
print(data)
print("Ocjene: ")
print(ocjene)

Prije izdvajanja kolone Ocjena:
    id Indeks  Prisustvo    Ispit1    Ispit2  Ispit1_popravni  \
0    1  94-ST         10 -1.561766 -0.555596         0.795918
1    2  77-ST         10 -2.029964 -0.087900         0.679755
2    3  69-ST         10  2.391904 -0.087900         0.679755
3    4  79-ST          0 -2.498161 -1.607912         0.679755
4    5  89-ST         10 -0.937502  1.393136         0.836735
5    6  78-ST          0  0.050915 -0.087900         0.877551
6    7  93-ST         10  0.050915  1.393136         0.844082
7    8  68-ST         10  0.050915 -0.087900         0.679755
8    9  83-ST          0  0.050915 -0.087900         0.679755
9   10  92-ST         10  0.050915 -0.087900         0.679755
10  11  65-ST         10  0.050915 -0.087900         0.679755
11  12  70-ST         10  0.311025 -0.438672         0.679755
12  13  90-ST         10  1.663596 -0.477647         0.679755
13  14  97-ST         10  0.050915 -0.087900         0.679755
14  15  84-ST         10  0.050915 -0.087900         0.679755
15  16  98-ST         10  0.050915 -0.438672         0.679755
16  17  91-ST         10  0.050915 -0.087900         0.679755
17  18  87-ST         10  0.050915 -0.087900         0.679755
18  19  76-ST         10  0.050915 -0.087900         0.679755
19  20  96-ST         10  0.050915 -0.087900         0.679755
20  21  66-ST         10  0.831245  0.301846         0.679755
21  22  62-ST         10  0.050915 -0.087900         0.679755
22  23  74-ST          0 -0.885480 -0.087900         1.000000
23  24  86-ST         10  0.623157  1.393136         0.679755
24  25  73-ST         10  0.050915 -0.945343         0.679755
25  26  80-ST         10  0.050915 -0.087900         0.679755
26  27  63-ST         10  2.183816 -0.087900         0.679755
27  28  72-ST         10  0.050915 -0.087900         0.679755
28  29  95-ST          0 -0.833458  1.393136         0.401633
29  30  85-ST         10  0.050915  1.393136         0.679755
30  31  99-ST         10  0.050915 -0.087900         0.966531
31  32  41-ST          0  0.050915 -0.087900         0.679755
32  33  17-ST          0 -2.550183 -2.816126         0.000000
33  34  82-ST          0 -1.249634 -2.894075         0.679755
34  35  15-ST          0  0.050915 -0.087900         0.679755
35  36  64-ST         10  0.467091  2.367503         0.679755
36  37  44-ST         10  0.050915 -0.087900         0.462857
37  38  71-ST         10  0.050915 -0.087900         0.679755
38  39  54-ST         10  0.050915 -0.087900         0.679755
39  40  60-ST         10 -1.249634 -0.087900         0.679755
40  41  48-ST         10  0.050915 -0.087900         0.679755
41  42  61-ST         10  0.050915 -0.087900         0.679755
42  43   1-ST         10  0.050915 -0.087900         0.679755
43  44  88-ST         10  0.050915 -0.087900         0.679755
44  45  75-ST         10  0.050915 -0.087900         0.612245
45  46  67-ST         10  2.131794 -0.087900         0.679755
46  47  81-ST         10  1.715618  3.263919         0.679755

    Ispit2_popravni  UKUPNO Ocjena
0          0.401146   35.81      7
1          0.490232   35.50      7
2          0.490232   39.50      9
3          0.490232   12.40      0
4          0.490232   35.08      6
5          0.315186   25.91      6
6          0.490232   35.17      8
7          0.490232   50.00      9
8          0.490232    0.00      0
9          0.490232   42.06      9
10         0.490232   43.19      8
11         0.646609   39.30      7
12         0.455587   39.90      8
13         0.490232   41.05      9
14         0.490232   43.56      9
15         0.000000   38.50      0
16         0.490232   43.48      9
17         0.490232   35.89      7
18         0.490232   27.18      0
19         0.490232   41.40      8
20         0.617956   40.00      8
21         0.490232   42.00      8
22         0.207259   27.08      0
23         0.490232   36.10      6
24         0.911175   41.57      7
25         0.490232   39.45      8
26         1.000000   46.60      8
27         0.490232   18.41      0
28         0.490232   23.50      0
29         0.490232   35.25      7
30         0.490232   24.17      0
31         0.490232    5.87      0
32         0.490232    9.20      0
33         0.490232   16.00      0
34         0.490232    0.00      0
35         0.490232   38.30      8
36         0.458453   32.33      0
37         0.490232   42.16      8
38         0.490232   19.35      0
39         0.490232   38.50      6
40         0.490232   10.00      6
41         0.490232   23.12      0
42         0.490232   10.00      0
43         0.490232   37.00      7
44         0.379179   33.33      6
45         0.490232   39.50      7
46         0.490232   43.00      8
Poslije izdvajanja kolone Ocjena:
    id Indeks  Prisustvo    Ispit1    Ispit2  Ispit1_popravni  \
0    1  94-ST         10 -1.561766 -0.555596         0.795918
1    2  77-ST         10 -2.029964 -0.087900         0.679755
2    3  69-ST         10  2.391904 -0.087900         0.679755
3    4  79-ST          0 -2.498161 -1.607912         0.679755
4    5  89-ST         10 -0.937502  1.393136         0.836735
5    6  78-ST          0  0.050915 -0.087900         0.877551
6    7  93-ST         10  0.050915  1.393136         0.844082
7    8  68-ST         10  0.050915 -0.087900         0.679755
8    9  83-ST          0  0.050915 -0.087900         0.679755
9   10  92-ST         10  0.050915 -0.087900         0.679755
10  11  65-ST         10  0.050915 -0.087900         0.679755
11  12  70-ST         10  0.311025 -0.438672         0.679755
12  13  90-ST         10  1.663596 -0.477647         0.679755
13  14  97-ST         10  0.050915 -0.087900         0.679755
14  15  84-ST         10  0.050915 -0.087900         0.679755
15  16  98-ST         10  0.050915 -0.438672         0.679755
16  17  91-ST         10  0.050915 -0.087900         0.679755
17  18  87-ST         10  0.050915 -0.087900         0.679755
18  19  76-ST         10  0.050915 -0.087900         0.679755
19  20  96-ST         10  0.050915 -0.087900         0.679755
20  21  66-ST         10  0.831245  0.301846         0.679755
21  22  62-ST         10  0.050915 -0.087900         0.679755
22  23  74-ST          0 -0.885480 -0.087900         1.000000
23  24  86-ST         10  0.623157  1.393136         0.679755
24  25  73-ST         10  0.050915 -0.945343         0.679755
25  26  80-ST         10  0.050915 -0.087900         0.679755
26  27  63-ST         10  2.183816 -0.087900         0.679755
27  28  72-ST         10  0.050915 -0.087900         0.679755
28  29  95-ST          0 -0.833458  1.393136         0.401633
29  30  85-ST         10  0.050915  1.393136         0.679755
30  31  99-ST         10  0.050915 -0.087900         0.966531
31  32  41-ST          0  0.050915 -0.087900         0.679755
32  33  17-ST          0 -2.550183 -2.816126         0.000000
33  34  82-ST          0 -1.249634 -2.894075         0.679755
34  35  15-ST          0  0.050915 -0.087900         0.679755
35  36  64-ST         10  0.467091  2.367503         0.679755
36  37  44-ST         10  0.050915 -0.087900         0.462857
37  38  71-ST         10  0.050915 -0.087900         0.679755
38  39  54-ST         10  0.050915 -0.087900         0.679755
39  40  60-ST         10 -1.249634 -0.087900         0.679755
40  41  48-ST         10  0.050915 -0.087900         0.679755
41  42  61-ST         10  0.050915 -0.087900         0.679755
42  43   1-ST         10  0.050915 -0.087900         0.679755
43  44  88-ST         10  0.050915 -0.087900         0.679755
44  45  75-ST         10  0.050915 -0.087900         0.612245
45  46  67-ST         10  2.131794 -0.087900         0.679755
46  47  81-ST         10  1.715618  3.263919         0.679755

    Ispit2_popravni  UKUPNO
0          0.401146   35.81
1          0.490232   35.50
2          0.490232   39.50
3          0.490232   12.40
4          0.490232   35.08
5          0.315186   25.91
6          0.490232   35.17
7          0.490232   50.00
8          0.490232    0.00
9          0.490232   42.06
10         0.490232   43.19
11         0.646609   39.30
12         0.455587   39.90
13         0.490232   41.05
14         0.490232   43.56
15         0.000000   38.50
16         0.490232   43.48
17         0.490232   35.89
18         0.490232   27.18
19         0.490232   41.40
20         0.617956   40.00
21         0.490232   42.00
22         0.207259   27.08
23         0.490232   36.10
24         0.911175   41.57
25         0.490232   39.45
26         1.000000   46.60
27         0.490232   18.41
28         0.490232   23.50
29         0.490232   35.25
30         0.490232   24.17
31         0.490232    5.87
32         0.490232    9.20
33         0.490232   16.00
34         0.490232    0.00
35         0.490232   38.30
36         0.458453   32.33
37         0.490232   42.16
38         0.490232   19.35
39         0.490232   38.50
40         0.490232   10.00
41         0.490232   23.12
42         0.490232   10.00
43         0.490232   37.00
44         0.379179   33.33
45         0.490232   39.50
46         0.490232   43.00
Ocjene:
0     7
1     7
2     9
3     0
4     6
5     6
6     8
7     9
8     0
9     9
10    8
11    7
12    8
13    9
14    9
15    0
16    9
17    7
18    0
19    8
20    8
21    8
22    0
23    6
24    7
25    8
26    8
27    0
28    0
29    7
30    0
31    0
32    0
33    0
34    0
35    8
36    0
37    8
38    0
39    6
40    6
41    0
42    0
43    7
44    6
45    7
46    8
Name: Ocjena, dtype: object

h) Konvertovati obje varijable (originalni skup podataka bez kolone Ocjena, kao i posebnu kolonu Ocjena) u
NumPy nizove

In [62]:
print("Prije konvertovanja: ")
print(data)
print(ocjene)
print("Poslije konvertovanja: ")
data = data.to_numpy()
ocjene = ocjene.to_numpy()
print(data)
print(ocjene)

Prije konvertovanja:
    id Indeks  Prisustvo    Ispit1    Ispit2  Ispit1_popravni  \
0    1  94-ST         10 -1.561766 -0.555596         0.795918
1    2  77-ST         10 -2.029964 -0.087900         0.679755
2    3  69-ST         10  2.391904 -0.087900         0.679755
3    4  79-ST          0 -2.498161 -1.607912         0.679755
4    5  89-ST         10 -0.937502  1.393136         0.836735
5    6  78-ST          0  0.050915 -0.087900         0.877551
6    7  93-ST         10  0.050915  1.393136         0.844082
7    8  68-ST         10  0.050915 -0.087900         0.679755
8    9  83-ST          0  0.050915 -0.087900         0.679755
9   10  92-ST         10  0.050915 -0.087900         0.679755
10  11  65-ST         10  0.050915 -0.087900         0.679755
11  12  70-ST         10  0.311025 -0.438672         0.679755
12  13  90-ST         10  1.663596 -0.477647         0.679755
13  14  97-ST         10  0.050915 -0.087900         0.679755
14  15  84-ST         10  0.050915 -0.087900         0.679755
15  16  98-ST         10  0.050915 -0.438672         0.679755
16  17  91-ST         10  0.050915 -0.087900         0.679755
17  18  87-ST         10  0.050915 -0.087900         0.679755
18  19  76-ST         10  0.050915 -0.087900         0.679755
19  20  96-ST         10  0.050915 -0.087900         0.679755
20  21  66-ST         10  0.831245  0.301846         0.679755
21  22  62-ST         10  0.050915 -0.087900         0.679755
22  23  74-ST          0 -0.885480 -0.087900         1.000000
23  24  86-ST         10  0.623157  1.393136         0.679755
24  25  73-ST         10  0.050915 -0.945343         0.679755
25  26  80-ST         10  0.050915 -0.087900         0.679755
26  27  63-ST         10  2.183816 -0.087900         0.679755
27  28  72-ST         10  0.050915 -0.087900         0.679755
28  29  95-ST          0 -0.833458  1.393136         0.401633
29  30  85-ST         10  0.050915  1.393136         0.679755
30  31  99-ST         10  0.050915 -0.087900         0.966531
31  32  41-ST          0  0.050915 -0.087900         0.679755
32  33  17-ST          0 -2.550183 -2.816126         0.000000
33  34  82-ST          0 -1.249634 -2.894075         0.679755
34  35  15-ST          0  0.050915 -0.087900         0.679755
35  36  64-ST         10  0.467091  2.367503         0.679755
36  37  44-ST         10  0.050915 -0.087900         0.462857
37  38  71-ST         10  0.050915 -0.087900         0.679755
38  39  54-ST         10  0.050915 -0.087900         0.679755
39  40  60-ST         10 -1.249634 -0.087900         0.679755
40  41  48-ST         10  0.050915 -0.087900         0.679755
41  42  61-ST         10  0.050915 -0.087900         0.679755
42  43   1-ST         10  0.050915 -0.087900         0.679755
43  44  88-ST         10  0.050915 -0.087900         0.679755
44  45  75-ST         10  0.050915 -0.087900         0.612245
45  46  67-ST         10  2.131794 -0.087900         0.679755
46  47  81-ST         10  1.715618  3.263919         0.679755

    Ispit2_popravni  UKUPNO
0          0.401146   35.81
1          0.490232   35.50
2          0.490232   39.50
3          0.490232   12.40
4          0.490232   35.08
5          0.315186   25.91
6          0.490232   35.17
7          0.490232   50.00
8          0.490232    0.00
9          0.490232   42.06
10         0.490232   43.19
11         0.646609   39.30
12         0.455587   39.90
13         0.490232   41.05
14         0.490232   43.56
15         0.000000   38.50
16         0.490232   43.48
17         0.490232   35.89
18         0.490232   27.18
19         0.490232   41.40
20         0.617956   40.00
21         0.490232   42.00
22         0.207259   27.08
23         0.490232   36.10
24         0.911175   41.57
25         0.490232   39.45
26         1.000000   46.60
27         0.490232   18.41
28         0.490232   23.50
29         0.490232   35.25
30         0.490232   24.17
31         0.490232    5.87
32         0.490232    9.20
33         0.490232   16.00
34         0.490232    0.00
35         0.490232   38.30
36         0.458453   32.33
37         0.490232   42.16
38         0.490232   19.35
39         0.490232   38.50
40         0.490232   10.00
41         0.490232   23.12
42         0.490232   10.00
43         0.490232   37.00
44         0.379179   33.33
45         0.490232   39.50
46         0.490232   43.00
0     7
1     7
2     9
3     0
4     6
5     6
6     8
7     9
8     0
9     9
10    8
11    7
12    8
13    9
14    9
15    0
16    9
17    7
18    0
19    8
20    8
21    8
22    0
23    6
24    7
25    8
26    8
27    0
28    0
29    7
30    0
31    0
32    0
33    0
34    0
35    8
36    0
37    8
38    0
39    6
40    6
41    0
42    0
43    7
44    6
45    7
46    8
Name: Ocjena, dtype: object
Poslije konvertovanja:
[[1 '94-ST' 10 -1.5617659452228656 -0.5555960491403172 0.7959183673469388
  0.4011461318051578 35.81]
 [2 '77-ST' 10 -2.029963673663172 -0.08790027046100546 0.6797551020408164
  0.4902318312060433 35.5]
 [3 '69-ST' 10 2.3919037616063856 -0.08790027046100546 0.6797551020408164
  0.4902318312060433 39.5]
 [4 '79-ST' 0 -2.498161402103478 -1.6079115511687696 0.6797551020408164
  0.4902318312060433 12.4]
 [5 '89-ST' 10 -0.937502307302458 1.3931363620234831 0.836734693877551
  0.4902318312060433 35.08]
 [6 '78-ST' 0 0.050915119404855075 -0.08790027046100546
  0.8775510204081632 0.31518624641833826 25.91]
 [7 '93-ST' 10 0.050915119404855075 1.3931363620234831 0.8440816326530612
  0.4902318312060433 35.17]
 [8 '68-ST' 10 0.050915119404855075 -0.08790027046100546
  0.6797551020408164 0.4902318312060433 50.0]
 [9 '83-ST' 0 0.050915119404855075 -0.08790027046100546
  0.6797551020408164 0.4902318312060433 0.0]
 [10 '92-ST' 10 0.050915119404855075 -0.08790027046100546
  0.6797551020408164 0.4902318312060433 42.06]
 [11 '65-ST' 10 0.050915119404855075 -0.08790027046100546
  0.6797551020408164 0.4902318312060433 43.19]
 [12 '70-ST' 10 0.3110249685383584 -0.4386721044704893 0.6797551020408164
  0.646609360076409 39.3]
 [13 '90-ST' 10 1.663596184032576 -0.47764675269376516 0.6797551020408164
  0.45558739255014336 39.9]
 [14 '97-ST' 10 0.050915119404855075 -0.08790027046100546
  0.6797551020408164 0.4902318312060433 41.05]
 [15 '84-ST' 10 0.050915119404855075 -0.08790027046100546
  0.6797551020408164 0.4902318312060433 43.56]
 [16 '98-ST' 10 0.050915119404855075 -0.4386721044704893
  0.6797551020408164 0.0 38.5]
 [17 '91-ST' 10 0.050915119404855075 -0.08790027046100546
  0.6797551020408164 0.4902318312060433 43.48]
 [18 '87-ST' 10 0.050915119404855075 -0.08790027046100546
  0.6797551020408164 0.4902318312060433 35.89]
 [19 '76-ST' 10 0.050915119404855075 -0.08790027046100546
  0.6797551020408164 0.4902318312060433 27.18]
 [20 '96-ST' 10 0.050915119404855075 -0.08790027046100546
  0.6797551020408164 0.4902318312060433 41.4]
 [21 '66-ST' 10 0.8312446668053652 0.30184621177175464 0.6797551020408164
  0.617956064947469 40.0]
 [22 '62-ST' 10 0.050915119404855075 -0.08790027046100546
  0.6797551020408164 0.4902318312060433 42.0]
 [23 '74-ST' 0 -0.8854803374757575 -0.08790027046100546
  0.9999999999999999 0.20725883476599816 27.08]
 [24 '86-ST' 10 0.6231567874985623 1.3931363620234831 0.6797551020408164
  0.4902318312060433 36.1]
 [25 '73-ST' 10 0.050915119404855075 -0.9453425313730773
  0.6797551020408164 0.9111747851002866 41.57]
 [26 '80-ST' 10 0.050915119404855075 -0.08790027046100546
  0.6797551020408164 0.4902318312060433 39.45]
 [27 '63-ST' 10 2.1838158822995837 -0.08790027046100546
  0.6797551020408164 1.0 46.6]
 [28 '72-ST' 10 0.050915119404855075 -0.08790027046100546
  0.6797551020408164 0.4902318312060433 18.41]
 [29 '95-ST' 0 -0.833458367649056 1.3931363620234831 0.40163265306122453
  0.4902318312060433 23.5]
 [30 '85-ST' 10 0.050915119404855075 1.3931363620234831
  0.6797551020408164 0.4902318312060433 35.25]
 [31 '99-ST' 10 0.050915119404855075 -0.08790027046100546
  0.9665306122448979 0.4902318312060433 24.17]
 [32 '41-ST' 0 0.050915119404855075 -0.08790027046100546
  0.6797551020408164 0.4902318312060433 5.87]
 [33 '17-ST' 0 -2.5501833719301787 -2.8161256460903257 0.0
  0.4902318312060433 9.2]
 [34 '82-ST' 0 -1.2496341262626618 -2.8940749425368777 0.6797551020408164
  0.4902318312060433 16.0]
 [35 '15-ST' 0 0.050915119404855075 -0.08790027046100546
  0.6797551020408164 0.4902318312060433 0.0]
 [36 '64-ST' 10 0.46709087801846083 2.367502567605383 0.6797551020408164
  0.4902318312060433 38.3]
 [37 '44-ST' 10 0.050915119404855075 -0.08790027046100546
  0.46285714285714286 0.45845272206303733 32.33]
 [38 '71-ST' 10 0.050915119404855075 -0.08790027046100546
  0.6797551020408164 0.4902318312060433 42.16]
 [39 '54-ST' 10 0.050915119404855075 -0.08790027046100546
  0.6797551020408164 0.4902318312060433 19.35]
 [40 '60-ST' 10 -1.2496341262626618 -0.08790027046100546
  0.6797551020408164 0.4902318312060433 38.5]
 [41 '48-ST' 10 0.050915119404855075 -0.08790027046100546
  0.6797551020408164 0.4902318312060433 10.0]
 [42 '61-ST' 10 0.050915119404855075 -0.08790027046100546
  0.6797551020408164 0.4902318312060433 23.12]
 [43 '1-ST' 10 0.050915119404855075 -0.08790027046100546
  0.6797551020408164 0.4902318312060433 10.0]
 [44 '88-ST' 10 0.050915119404855075 -0.08790027046100546
  0.6797551020408164 0.4902318312060433 37.0]
 [45 '75-ST' 10 0.050915119404855075 -0.08790027046100546
  0.6122448979591837 0.3791786055396372 33.33]
 [46 '67-ST' 10 2.131793912472882 -0.08790027046100546 0.6797551020408164
  0.4902318312060433 39.5]
 [47 '81-ST' 10 1.7156181538592763 3.263919476740732 0.6797551020408164
  0.4902318312060433 43.0]]
['7' '7' '9' '0' '6' '6' '8' '9' '0' '9' '8' '7' '8' '9' '9' '0' '9' '7'
 '0' '8' '8' '8' '0' '6' '7' '8' '8' '0' '0' '7' '0' '0' '0' '0' '0' '8'
 '0' '8' '0' '6' '6' '0' '0' '7' '6' '7' '8']

i) Ukoliko pretpostavimo da NumPy niz sa ocjenama predstavlja labele, a niz sa ostalim kolonama atribute
(značajke), izvršiti podjelu na trening i testni skup podataka, pri čemu za testni skup treba uzeti 20% podataka.

In [63]:
import numpy as np
from sklearn.model_selection import train_test_split


data_train, data_test, ocjene_train, ocjene_test = train_test_split(data, ocjene, test_size=0.2, random_state=42)
print("Data train: ")
print(data_train)
print("Data test: ")
print(data_test)
print("Ocjene train: ")
print(ocjene_train)
print("Ocjene test: ")
print(ocjene_test)

Data train:
[[9 '83-ST' 0 0.050915119404855075 -0.08790027046100546
  0.6797551020408164 0.4902318312060433 0.0]
 [4 '79-ST' 0 -2.498161402103478 -1.6079115511687696 0.6797551020408164
  0.4902318312060433 12.4]
 [7 '93-ST' 10 0.050915119404855075 1.3931363620234831 0.8440816326530612
  0.4902318312060433 35.17]
 [41 '48-ST' 10 0.050915119404855075 -0.08790027046100546
  0.6797551020408164 0.4902318312060433 10.0]
 [34 '82-ST' 0 -1.2496341262626618 -2.8940749425368777 0.6797551020408164
  0.4902318312060433 16.0]
 [14 '97-ST' 10 0.050915119404855075 -0.08790027046100546
  0.6797551020408164 0.4902318312060433 41.05]
 [18 '87-ST' 10 0.050915119404855075 -0.08790027046100546
  0.6797551020408164 0.4902318312060433 35.89]
 [45 '75-ST' 10 0.050915119404855075 -0.08790027046100546
  0.6122448979591837 0.3791786055396372 33.33]
 [16 '98-ST' 10 0.050915119404855075 -0.4386721044704893
  0.6797551020408164 0.0 38.5]
 [10 '92-ST' 10 0.050915119404855075 -0.08790027046100546
  0.6797551020408164 0.4902318312060433 42.06]
 [17 '91-ST' 10 0.050915119404855075 -0.08790027046100546
  0.6797551020408164 0.4902318312060433 43.48]
 [30 '85-ST' 10 0.050915119404855075 1.3931363620234831
  0.6797551020408164 0.4902318312060433 35.25]
 [33 '17-ST' 0 -2.5501833719301787 -2.8161256460903257 0.0
  0.4902318312060433 9.2]
 [46 '67-ST' 10 2.131793912472882 -0.08790027046100546 0.6797551020408164
  0.4902318312060433 39.5]
 [1 '94-ST' 10 -1.5617659452228656 -0.5555960491403172 0.7959183673469388
  0.4011461318051578 35.81]
 [32 '41-ST' 0 0.050915119404855075 -0.08790027046100546
  0.6797551020408164 0.4902318312060433 5.87]
 [31 '99-ST' 10 0.050915119404855075 -0.08790027046100546
  0.9665306122448979 0.4902318312060433 24.17]
 [6 '78-ST' 0 0.050915119404855075 -0.08790027046100546
  0.8775510204081632 0.31518624641833826 25.91]
 [12 '70-ST' 10 0.3110249685383584 -0.4386721044704893 0.6797551020408164
  0.646609360076409 39.3]
 [35 '15-ST' 0 0.050915119404855075 -0.08790027046100546
  0.6797551020408164 0.4902318312060433 0.0]
 [2 '77-ST' 10 -2.029963673663172 -0.08790027046100546 0.6797551020408164
  0.4902318312060433 35.5]
 [42 '61-ST' 10 0.050915119404855075 -0.08790027046100546
  0.6797551020408164 0.4902318312060433 23.12]
 [22 '62-ST' 10 0.050915119404855075 -0.08790027046100546
  0.6797551020408164 0.4902318312060433 42.0]
 [3 '69-ST' 10 2.3919037616063856 -0.08790027046100546 0.6797551020408164
  0.4902318312060433 39.5]
 [36 '64-ST' 10 0.46709087801846083 2.367502567605383 0.6797551020408164
  0.4902318312060433 38.3]
 [24 '86-ST' 10 0.6231567874985623 1.3931363620234831 0.6797551020408164
  0.4902318312060433 36.1]
 [38 '71-ST' 10 0.050915119404855075 -0.08790027046100546
  0.6797551020408164 0.4902318312060433 42.16]
 [11 '65-ST' 10 0.050915119404855075 -0.08790027046100546
  0.6797551020408164 0.4902318312060433 43.19]
 [23 '74-ST' 0 -0.8854803374757575 -0.08790027046100546
  0.9999999999999999 0.20725883476599816 27.08]
 [19 '76-ST' 10 0.050915119404855075 -0.08790027046100546
  0.6797551020408164 0.4902318312060433 27.18]
 [47 '81-ST' 10 1.7156181538592763 3.263919476740732 0.6797551020408164
  0.4902318312060433 43.0]
 [21 '66-ST' 10 0.8312446668053652 0.30184621177175464 0.6797551020408164
  0.617956064947469 40.0]
 [8 '68-ST' 10 0.050915119404855075 -0.08790027046100546
  0.6797551020408164 0.4902318312060433 50.0]
 [43 '1-ST' 10 0.050915119404855075 -0.08790027046100546
  0.6797551020408164 0.4902318312060433 10.0]
 [15 '84-ST' 10 0.050915119404855075 -0.08790027046100546
  0.6797551020408164 0.4902318312060433 43.56]
 [29 '95-ST' 0 -0.833458367649056 1.3931363620234831 0.40163265306122453
  0.4902318312060433 23.5]
 [39 '54-ST' 10 0.050915119404855075 -0.08790027046100546
  0.6797551020408164 0.4902318312060433 19.35]]
Data test:
[[28 '72-ST' 10 0.050915119404855075 -0.08790027046100546
  0.6797551020408164 0.4902318312060433 18.41]
 [40 '60-ST' 10 -1.2496341262626618 -0.08790027046100546
  0.6797551020408164 0.4902318312060433 38.5]
 [27 '63-ST' 10 2.1838158822995837 -0.08790027046100546
  0.6797551020408164 1.0 46.6]
 [44 '88-ST' 10 0.050915119404855075 -0.08790027046100546
  0.6797551020408164 0.4902318312060433 37.0]
 [25 '73-ST' 10 0.050915119404855075 -0.9453425313730773
  0.6797551020408164 0.9111747851002866 41.57]
 [37 '44-ST' 10 0.050915119404855075 -0.08790027046100546
  0.46285714285714286 0.45845272206303733 32.33]
 [13 '90-ST' 10 1.663596184032576 -0.47764675269376516 0.6797551020408164
  0.45558739255014336 39.9]
 [20 '96-ST' 10 0.050915119404855075 -0.08790027046100546
  0.6797551020408164 0.4902318312060433 41.4]
 [5 '89-ST' 10 -0.937502307302458 1.3931363620234831 0.836734693877551
  0.4902318312060433 35.08]
 [26 '80-ST' 10 0.050915119404855075 -0.08790027046100546
  0.6797551020408164 0.4902318312060433 39.45]]
Ocjene train:
['0' '0' '8' '6' '0' '9' '7' '6' '0' '9' '9' '7' '0' '7' '7' '0' '0' '6'
 '7' '0' '7' '0' '8' '9' '8' '6' '8' '8' '0' '0' '8' '8' '9' '0' '9' '0'
 '0']
Ocjene test:
['0' '6' '8' '7' '7' '0' '8' '8' '6' '8']

#Zadatak 3 - Klasični algoritam mašinskog učenja

U ovom zadatku, upoznat ćemo se sa primjenom Sklearn biblioteke u klasičnim algoritimma mašinskog učenja.
Konkretno, radit će se klasifikacija cvijeta iris na tri različite vrste (prikazane na slici u postavci), i to:
• Setosa;
• Versicolour;
• Virginica;

Algoritam će prvo na osnovu postojećeg skupa podataka, koji sadrži značajke i labele, naučiti kako koja značajka
djeluje samu vrstu cvijeta, te će biti u stanju da za novi (neviđeni) podatak pretpostavi tačnu klasu kojoj cvijet
pripada.

a) Sam skup podataka dolazi spreman uz Sklearn, te ga je potrebno učitati:

In [65]:
from sklearn.datasets import load_iris

iris = load_iris()
X = iris.data
y = iris.target

feature_names = iris.feature_names
target_names = iris.target_names

print("Nazivi znacajki:", feature_names)
print("Nazivi labela:", target_names)
print("\nPrvih 5 redova X:\n", X[:5])

Nazivi znacajki: ['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']
Nazivi labela: ['setosa' 'versicolor' 'virginica']

Prvih 5 redova X:
 [[5.1 3.5 1.4 0.2]
 [4.9 3.  1.4 0.2]
 [4.7 3.2 1.3 0.2]
 [4.6 3.1 1.5 0.2]
 [5.  3.6 1.4 0.2]]

b) Sljedeći korak jeste dijeljenje skupa podataka na dva dijela - trening i testni skup. Trening skup se koristi
kako bi algoritam naučio uzorke ponašanja, dok testni skup predstavlja nove podatke, na osnovu kojih se vrši
evaluacija algoritma (to jeste evaluacija naučenog).

In [66]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 1 )

print("X_train: ")
print(X_train.shape)
print("x_test: ")
print(X_test.shape)

print("Y_train: ")
print(y_train.shape)
print("Y_test: ")
print(y_test.shape)

X_train:
(105, 4)
x_test:
(45, 4)
Y_train:
(105,)
Y_test:
(45,)

c) Sada je vrijeme da se primijeni odgovarajući algoritam. U ovom primjeru, koristit ćemo k-NN (eng. k-nearest
neighbours). Ovaj algoritam je izuzetno jednostavan, te klasifikaciju vrši na način da svaki podatak mapira kao
n-dimenzionalnu tačku. Klasa novog podatka se zatim određuje na osnovu k najbližih tačaka u tom prostoru.
Uzima se ona klasa koja se pojavljuje najčešće u k najbližih susjeda. Ovaj algoritam je već implementiran u
sklopu Sklearn, pa se može jednostavno pozvati:

In [67]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics

classifier_knn = KNeighborsClassifier(n_neighbors = 3)

classifier_knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

d) Konačno, potrebno je algoritam primijeniti nad testnim skupom, kako bi se odredila uspješnost. U tu svrhu,
koristi se isječak koda kao što slijedi:

In [68]:
y_pred = classifier_knn.predict(X_test)

print("Tacnost:", metrics.accuracy_score(y_test, y_pred))

Tacnost: 0.9777777777777777

e) Ponovite ovaj proces za nekoliko različitih vrijednosti k.

In [69]:
#k = 4
classifier_knn = KNeighborsClassifier(n_neighbors = 4)
classifier_knn.fit(X_train, y_train)
y_pred = classifier_knn.predict(X_test)
print("Tacnost:", metrics.accuracy_score(y_test, y_pred))

#k = 44
classifier_knn = KNeighborsClassifier(n_neighbors = 44)
classifier_knn.fit(X_train, y_train)
y_pred = classifier_knn.predict(X_test)
print("Tacnost:", metrics.accuracy_score(y_test, y_pred))

#k = 105
classifier_knn = KNeighborsClassifier(n_neighbors = 105)
classifier_knn.fit(X_train, y_train)
y_pred = classifier_knn.predict(X_test)
print("Tacnost:", metrics.accuracy_score(y_test, y_pred))

Tacnost: 0.9777777777777777
Tacnost: 0.9555555555555556
Tacnost: 0.28888888888888886

#Zadatak 4 - Duboko učenje

Duboko učenje ćemo demonstrirati na primjeru klasifikacije rukom pisanih cifara. Koristit ćemo MNIST skup podataka, koji sadrži 70000 slika u nijansama sive boje (eng. grayscale) dimenzija 28 × 28 podijeljenih u 10 različitih
klasa (za svaku cifru po jedna).

a) Učitavanje podataka je prvi korak. Keras ovaj skup podataka ima spreman, te je on unaprijed podijeljen na
trening i test skup.

In [70]:
from keras.datasets import mnist

(x_train, y_train), (x_test, y_test) = mnist.load_data()

print("X_train: ")
print(x_train.shape)
print("x_test: ")
print(x_test.shape)

print("Y_train: ")
print(y_train.shape)
print("Y_test: ")
print(y_test.shape)

X_train:
(60000, 28, 28)
x_test:
(10000, 28, 28)
Y_train:
(60000,)
Y_test:
(10000,)

Kako bi se ove slike mogle poslati u neuralnu mrežu, potrebno je iste prvo pretvoriti u brojeve u pokretnom
zarezu, te ih svesti na opseg između 0 i 1. Obzirom da pikseli grayscale slika uzimaju vrijednosti između 0 i
255, svođenje na traženi opseg se može uraditi prostim dijeljenjm sa 255. Sljedeći isječak koda demonstrira
ovaj korak:

In [71]:
train_images = x_train.reshape((x_train.shape[0], 28 * 28))
train_images = train_images.astype('float32') / 255

test_images = x_test.reshape((x_test.shape[0], 28*28))
test_images = test_images.astype('float32') / 255

c) Nakon što su podaci spremni, može se napraviti jednostavan model duboke neuralne mreže. U tu svrhu, koristi
se Keras. Prije svega je potrebno kreirati sam model, nakon čega se na isti dodaju slojevi različitog tipa:

In [72]:
from keras import models
from keras import layers

network = models.Sequential()
network.add(layers.Dense(512, activation='relu', input_shape=(28 * 28,)))
network.add(layers.Dense(10, activation='softmax'))

Model koji smo upravo kreirali ima dva sloja - to je
potpuno dovoljno za ovaj jednostavan zadatak, međutim u praksi modeli znaju imati dosta više slojeva - tada se kaže da su modeli duboki. Sloj se može zamisliti kao filter za podatke. Podaci uđu u sloj, te se na izlazu dobijaju podaci u nešto korisnijoj formi. Slojevi vrše ekstrakciju reprezentacije iz podataka koji se dovedu na
njihov ulaz - pri tome se uvijek nadamo da se tu radi o korisnim reprezentacijama. Većina dubokog učenja
se sastoji od nadovezivanja različitih jednostavnih slojeva koji će progresivno raditi filtriranje podataka (data
distilation). Model se može zamisliti kao sito za podatke - sito napravljeno od više filtera/slojeva. Slojevi koji
se koriste u ovom modelu su dense slojevi, koji se još nazivaju i potpuno povezani slojevi. Pri tome, drugi
(posljednji) sloj je softmax sloj sa 10 neurona, što znači da će on vratiti niz od 10 vjerovatnoća (čija će suma
biti 1). Svaka vrijednost u tom nizu označava vjerovatnoću kojom trenutna slika pripada odgovarajućoj cifri.
Na primjer, ukoliko je na prvom mjestu ovog izlaznog niza broj 0.35, onda je šansa da se radi o cifri nula
jednaka 35%.

d) Kada je model definisan, on se mora pripremiti za treniranje. Kako bi to bilo moguće, model je prvo potrebno
kompajlirati. Kompajliranje modela se sastoji od odabira tri parametra:

  • Funkcije gubitka (eng. loss function) - Označava kako neuralna
  mreža može mjeriti svoje performanse
  nad trening skupom, te se na osnovu nje prilagođava prilikom 
  procesa  treniranja

  • Optimizator (eng. optimizer ) - Mehanizam na osnovu kojeg se      
  neuralna mreža aktualizira;
  
  • Metrike koje treba pratiti prilikom treniranja i testiranja - U 
  ovom slučaju nas zanima samo tačnost (eng.
  accuracy). Za različite zadatke dubokog učenja su razvijene i 
  različite metrike uspjeha.

  Kompajliranje modela se vrši pomoću sljedećeg isječka koda:

In [73]:
network.compile(optimizer='rmsprop', loss='categorical_crossentropy', metrics=['accuracy'])

e) U prethodnom koraku smo rekli da je izlaz iz neuralne mreže zapravo niz od 10 elemenata. Shodno tome,
moramo labele prilagoditi izlazu, na način da izvršimo one-hot kodiranje istih. Kodiranje podrazumijeva
pretvaranje labele iz konkretne vrijednosti u niz od n elemenata gdje su svi elementi nula, osim elementa na
indeksu koji odgovara tačnoj klasi. Primjer one-hot kodiranja je dat u nastavku:

3 → [0, 0, 0, 1, 0, 0, 0, 0, 0, 0]

Kako bi se ovo postiglo u Python-u, može se koristiti gotova funkcija koju pruža Keras, kao što je prikazano u
nastavku:

In [74]:
from tensorflow.keras.utils import to_categorical

#greska from keras.utils import to_categorical

train_labels = to_categorical(y_train)
test_labels = to_categorical(y_test)

f) Sada je sve spremno da se mreža trenira. Treniranje je izuzetno jednostavno, te se obavlja pomoću jedne linije
koda:

In [75]:
network.fit(train_images, train_labels, epochs=5, batch_size=128)

Epoch 1/5
469/469 [==============================] - 5s 10ms/step - loss: 0.2578 - accuracy: 0.9259
Epoch 2/5
469/469 [==============================] - 5s 11ms/step - loss: 0.1048 - accuracy: 0.9687
Epoch 3/5
469/469 [==============================] - 5s 10ms/step - loss: 0.0697 - accuracy: 0.9789
Epoch 4/5
469/469 [==============================] - 5s 10ms/step - loss: 0.0501 - accuracy: 0.9851
Epoch 5/5
469/469 [==============================] - 5s 11ms/step - loss: 0.0385 - accuracy: 0.9884

g) Nakon što se treniranje završi, može se izvršiti evaluacija nad testnim skupom podataka:

In [76]:
test_loss, test_acc = network.evaluate(test_images, test_labels)
print('Tacnost za testni skup:', test_acc)

313/313 [==============================] - 1s 3ms/step - loss: 0.0686 - accuracy: 0.9790
Tacnost za testni skup: 0.9789999723434448